<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">



	<!--                                -->
	<!-- 簡易検索条件情報コンバータ定義 -->
	<!--                                -->

	<!-- 簡易オブジェクト検索単一値比較条件情報コンバータ -->
	<bean id="objectSearchConditionCompareConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.internal.ObjectSearchConditionCompareConverter">
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易オブジェクト検索部分一致比較(LIKE/NOT_LIKE)条件情報コンバータ -->
	<bean id="objectSearchConditionLikeConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.internal.ObjectSearchConditionLikeConverter">
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易オブジェクト検索複数値比較(IN/NOT_IN)条件情報コンバータ -->
	<bean id="objectSearchConditionInConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.internal.ObjectSearchConditionInConverter">
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易オブジェクト検索部分一致比較(LIKE/NOT_LIKE)条件情報コンバータ -->
	<bean id="objectSearchConditionIsNullConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.internal.ObjectSearchConditionIsNullConverter">
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易オブジェクト検索条件情報コンバータ -->
	<bean id="objectSearchConditionConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.ObjectSearchConditionConverter">
		<property name="objectSearchConditionCompareConverter">
			<ref bean="objectSearchConditionCompareConverter2"/>
		</property>
		<property name="objectSearchConditionLikeConverter">
			<ref bean="objectSearchConditionLikeConverter2"/>
		</property>
		<property name="objectSearchConditionInConverter">
			<ref bean="objectSearchConditionInConverter2"/>
		</property>
		<property name="objectSearchConditionIsNullConverter">
			<ref bean="objectSearchConditionIsNullConverter2"/>
		</property>
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易リレーション検索単一値比較条件情報コンバータ -->
	<bean id="relationSearchConditionCompareConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.internal.RelationSearchConditionCompareConverter">
		<property name="relationTypeService">
			<ref bean="relationTypeService2"/>
		</property>
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易リレーション検索部分一致比較(LIKE/NOT_LIKE)条件情報コンバータ -->
	<bean id="relationSearchConditionLikeConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.internal.RelationSearchConditionLikeConverter">
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易リレーション検索複数値比較(IN/NOT_IN)条件情報コンバータ -->
	<bean id="relationSearchConditionInConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.internal.RelationSearchConditionInConverter">
		<property name="relationTypeService">
			<ref bean="relationTypeService2"/>
		</property>
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易リレーション検索NULL 判定条件情報コンバータ -->
	<bean id="relationSearchConditionIsNullConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.internal.RelationSearchConditionIsNullConverter">
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!-- 簡易リレーション検索条件情報コンバータ -->
	<bean id="relationSearchConditionConverter2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.converter.RelationSearchConditionConverter">
		<property name="relationSearchConditionCompareConverter">
			<ref bean="relationSearchConditionCompareConverter2"/>
		</property>
		<property name="relationSearchConditionLikeConverter">
			<ref bean="relationSearchConditionLikeConverter2"/>
		</property>
		<property name="relationSearchConditionInConverter">
			<ref bean="relationSearchConditionInConverter2"/>
		</property>
		<property name="relationSearchConditionIsNullConverter">
			<ref bean="relationSearchConditionIsNullConverter2"/>
		</property>
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

	<!--                      -->
	<!-- 簡易検索サービス定義 -->
	<!--                      -->

	<!-- オブジェクト簡易検索サービス -->
	<bean id="simpleSearchObjectService2" class="jp.co.ctc_g.eim.framework2.business.service.simple_search.impl.SimpleSearchObjectServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectSearchConditionConverter">
			<ref bean="objectSearchConditionConverter2"/>
		</property>
	</bean>

	<!-- オブジェクト簡易検索サービス（取得系のオブジェクト操作イベントアスペクトを抑制します） -->
	<bean id="simpleSearchObjectService2SuppressGetObjectEventAspect" parent="simpleSearchObjectService2" >
		<property name="objectService">
			<ref bean="objectService2ForAPISuppressGetObjectEventAspect"/>
		</property>
	</bean>

	<!-- リレーションの関連にて、子オブジェクトを指定して親オブジェクトを検索するサービス -->
	<bean id="simpleSearchRelatedObjectRelationParentService2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.impl.SimpleSearchRelatedObjectRelationParentServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="relationService">
			<ref bean="relationService2ForAPI"/>
		</property>
		<property name="objectSearchConditionConverter">
			<ref bean="objectSearchConditionConverter2"/>
		</property>
		<property name="relationSearchConditionConverter">
			<ref bean="relationSearchConditionConverter2"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
	</bean>

	<!-- リレーションの関連にて、親オブジェクトを指定して子オブジェクトを検索するサービス -->
	<bean id="simpleSearchRelatedObjectRelationChildService2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.impl.SimpleSearchRelatedObjectRelationChildServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="relationService">
			<ref bean="relationService2ForAPI"/>
		</property>
		<property name="objectSearchConditionConverter">
			<ref bean="objectSearchConditionConverter2"/>
		</property>
		<property name="relationSearchConditionConverter">
			<ref bean="relationSearchConditionConverter2"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
	</bean>

	<!-- 関連元オブジェクトの数値型属性に関連先オブジェクトIDを設定する関連にて、関連先のオブジェクトを指定して関連元のオブジェクトを検索するサービス -->
	<bean id="simpleSearchRelatedObjectLongAttributeSourceService2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.impl.SimpleSearchRelatedObjectLongAttributeSourceServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectSearchConditionConverter">
			<ref bean="objectSearchConditionConverter2"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
	</bean>

	<!-- 関連元オブジェクトの数値型属性に関連先オブジェクトIDを設定する関連にて、関連元のオブジェクトを指定して関連先のオブジェクトを検索するサービス -->
	<bean id="simpleSearchRelatedObjectLongAttributeDestinationService2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.impl.SimpleSearchRelatedObjectLongAttributeDestinationServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
		<property name="objectSearchConditionConverter">
			<ref bean="objectSearchConditionConverter2"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
	</bean>

	<!-- オブジェクト型属性の関連にて、関連先オブジェクトを指定して関連元のオブジェクトを検索するサービス -->
	<bean id="simpleSearchRelatedObjectObjectAttributeSourceService2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.impl.SimpleSearchRelatedObjectObjectAttributeSourceServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectSearchConditionConverter">
			<ref bean="objectSearchConditionConverter2"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
	</bean>

	<!-- オブジェクト型属性の関連にて、関連元オブジェクトを指定して関連先のオブジェクト型属性に設定されたオブジェクトを検索するサービス -->
	<bean id="simpleSearchRelatedObjectObjectAttributeDestinationService2"
			class="jp.co.ctc_g.eim.framework2.business.service.simple_search.impl.SimpleSearchRelatedObjectObjectAttributeDestinationServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
		<property name="objectSearchConditionConverter">
			<ref bean="objectSearchConditionConverter2"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
	</bean>

	<!-- リレーション簡易検索サービス -->
	<bean id="simpleSearchRelationService2" class="jp.co.ctc_g.eim.framework2.business.service.simple_search.impl.SimpleSearchRelationServiceImpl" >
		<property name="relationService">
			<ref bean="relationService2ForAPI"/>
		</property>
		<property name="relationSearchConditionConverter">
			<ref bean="relationSearchConditionConverter2"/>
		</property>
	</bean>

	<!-- リレーション簡易検索サービス（取得系のリレーション操作イベントアスペクトを抑制します） -->
	<bean id="simpleSearchRelationService2SuppressGetRelationEventAspect" parent="simpleSearchRelationService2" >
		<property name="relationService">
			<ref bean="relationService2ForAPISuppressGetRelationEventAspect"/>
		</property>
	</bean>

</beans>
