<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- コンバータ定義 -->

	<!-- フォーム形式の簡易結果DTOコンバータ -->
	<bean id="formFormatResultDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.FormFormatResultDTOConverter">
	</bean>

	<!-- リスト形式の簡易結果DTOコンバータ -->
	<bean id="listFormatResultDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.ListFormatResultDTOConverter">
	</bean>

	<!-- ツリー形式の簡易結果DTOコンバータ -->
	<bean id="treeFormatResultDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.TreeFormatResultDTOConverter">
	</bean>

	<!-- 簡易オブジェクトDTOコンバータ -->
	<bean id="simpleObjectDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleObjectDTOConverter">
		<property name="simpleObjectTypeDTOConverter">
			<ref bean="simpleObjectTypeDTOConverter"/>
		</property>
		<property name="simpleUserDTOConverter">
			<ref bean="simpleUserDTOConverter"/>
		</property>
		<property name="simpleAttributeDTOConverter">
			<ref bean="simpleAttributeDTOConverter"/>
		</property>
		<property name="simpleStatusDTOConverter">
			<ref bean="simpleStatusDTOConverter"/>
		</property>
	</bean>

	<!-- 簡易オブジェクトタイプDTOコンバータ -->
	<bean id="simpleObjectTypeDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleObjectTypeDTOConverter">
	</bean>

	<!-- 簡易ユーザDTOコンバータ -->
	<bean id="simpleUserDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleUserDTOConverter">
	</bean>

	<!-- 簡易属性DTOコンバータ -->
	<bean id="simpleAttributeDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleAttributeDTOConverter">
		<property name="simpleObjectDTOConverter">
			<ref bean="simpleObjectDTOConverter"/>
		</property>
		<property name="simpleUserDTOConverter">
			<ref bean="simpleUserDTOConverter"/>
		</property>
	</bean>

	<!-- 簡易ステータスDTOコンバータ -->
	<bean id="simpleStatusDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleStatusDTOConverter">
		<property name="simpleAttributeDTOConverter">
			<ref bean="simpleAttributeDTOConverter"/>
		</property>
	</bean>

	<!-- 簡易オブジェクトDTOコンバータ -->
	<bean id="simpleRawObjectDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleRawObjectDTOConverter">
	</bean>

	<!-- 簡易オブジェクトDTOJSON、オブジェクト情報コンバータ -->
	<bean id="simpleObjectDTOJsonToObjectDomainConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleObjectDTOJsonToObjectDomainConverter">
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>



	<!-- 簡易リレーションDTOコンバータ -->
	<bean id="simpleRelationDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleRelationDTOConverter">
		<property name="simpleObjectDTOConverter">
			<ref bean="simpleObjectDTOConverter"/>
		</property>
		<property name="simpleRelationTypeDTOConverter">
			<ref bean="simpleRelationTypeDTOConverter"/>
		</property>
		<property name="simpleAttributeDTOConverter">
			<ref bean="simpleAttributeDTOConverter"/>
		</property>
	</bean>

	<!-- 簡易リレーションタイプDTOコンバータ -->
	<bean id="simpleRelationTypeDTOConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleRelationTypeDTOConverter">
	</bean>

	<!-- 簡易リレーションDTOJSON、リレーション情報コンバータ -->
	<bean id="simpleRelationDTOJsonToRelationDomainConverter" class="jp.co.ctc_g.eim.framework2.presentation.converter.impl.SimpleRelationDTOJsonToRelationDomainConverter">
		<property name="attributeTypeService">
			<ref bean="attributeTypeService2"/>
		</property>
	</bean>

</beans>
