<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ======================================================================================== -->
	<!-- DAO -->
	<!-- ======================================================================================== -->
	
	<!-- テンプレートファイルDAO -->
	<bean id="templateFileDao" class="jp.co.ctc_g.eim.app.form.integration.dao.impl.xml.TemplateFileDaoImpl">
		<!-- 設定例：/TemplateFileConf.xml -->
		<property name="templateFileConfFilePath">
			<null/>
		</property>
	</bean>
	
	<!-- 帳票キーワードDAO -->
	<bean id="formKeywordDao" class="jp.co.ctc_g.eim.app.form.integration.dao.impl.FormKeywordDaoImpl" />
	
	<!-- 属性タイプレイアウト設定ファイルDAO -->
	<bean id="attributeTypeLayoutConfDao" class="jp.co.ctc_g.eim.app.form.integration.dao.impl.xml.AttributeTypeLayoutConfDaoImpl">
		<property name="objectTypeDao" ref="objectTypeDao2" />
	</bean>
	
	<!-- 帳票DAO -->
	<bean id="formDao" class="jp.co.ctc_g.eim.app.form.integration.dao.impl.FormDaoImpl">
		<property name="operationHistoryConfigDao" ref="operationHistoryConfigDao2"/>
		<property name="userService" ref="userService2"/>
		<property name="objectService" ref="objectService2"/>
		<property name="objectTypeService" ref="objectTypeService2"/>
		<property name="statusTypeService" ref="statusTypeService2"/>
	</bean>
	
</beans>