<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 帳票アクセス権限チェックアドバイス -->
	<bean id="formAccessAuthorityCheckAdvice" class="jp.co.ctc_g.eim.app.form.common.aop.advice.FormAccessAuthorityCheckAdvice" >
		<property name="objectService" ref="objectService2"/>
		<property name="formAttachedFileService" ref="formAttachedFileService"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.ACCESSROLE.NOTFOUND"/>
		<property name="notFoundErrorCode" value="EIM.ERROR.LOGIC.OBJECT.NOTFOUND"/>
	</bean>

	<!-- 帳票参照権限チェックアドバイス -->
	<bean id="formReadAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOREADROLE"/>
		<!-- パラメータ変換 -->
		<property name="parameterConverter" ref="accessCheckIdToObjectConverter"/>
	</bean>

	<!-- 帳票作成権限チェックアドバイス -->
	<bean id="formCreationAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="CREATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOCREATEROLE"/>
		<!-- パラメータ変換 -->
		<property name="parameterConverter" ref="accessCheckFormToFormWorkspaceObjectConverter"/>
	</bean>

	<!-- 帳票更新権限チェックアドバイス -->
	<bean id="formUpdateAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
	</bean>

	<!-- 帳票ステータス変更権限チェックアドバイス -->
	<bean id="formStatusChangeAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="APPROVE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOAPPROVEROLE"/>
		<!-- パラメータ変換 -->
		<property name="parameterConverter" ref="accessCheckEventExecToObjectConverter"/>
	</bean>

	<!-- 帳票処理履歴参照権限チェックアドバイス -->
	<bean id="formEventHistoryReadAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOREADROLE"/>
		<!-- パラメータ変換 -->
		<property name="parameterConverter" ref="accessCheckFormEventCriteriaToFormObjectConverter"/>
	</bean>

	<!-- (添付ファイル)ダウンロード(参照)権限チェックアドバイス -->
	<bean id="attachmentReadAuthorityCheckAdvice" parent="formAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOREADROLE"/>
	</bean>

	<!-- (添付ファイル)WebDAVダウンロード(参照)権限チェックアドバイス -->
	<bean id="attachmentWebDAVReadAuthorityCheckAdvice" parent="formAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOREADROLE"/>
	</bean>

	<!-- (添付ファイル)WebDAV(編集コピー)権限チェックアドバイス -->
	<!-- (添付ファイル)アップロード(更新)権限チェックアドバイス -->
	<!--<bean id="attachmentUpdateAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
	</bean>-->

	<!-- (添付ファイル)WebDAV(取得)権限チェックアドバイス -->
	<!-- (添付ファイル)WebDAV(保存)権限チェックアドバイス -->
	<!--<bean id="attachmentWebDAVUpdateAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
	</bean>-->

	<!-- 帳票無効化（ごみ箱）権限チェックアドバイス -->
	<bean id="formSetInvalidateAuthorityCheckAdvice" parent="multipleAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
	</bean>

	<!-- 帳票有効化（ごみ箱）権限チェックアドバイス -->
	<bean id="formSetValidateAuthorityCheckAdvice" parent="multipleAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
	</bean>

	<!-- 帳票削除権限チェックアドバイス -->
	<bean id="formDeleteAuthorityCheckAdvice" parent="multipleAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
	</bean>

	<!-- 移動元帳票タイプフォルダ作成権限チェックアドバイス -->
	<bean id="sourceFormTypeFolderCreationAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="CREATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.SOURCE.FORM.TYPE.FOLDER.NOCREATEROLE"/>
		<!-- パラメータ変換 -->
		<property name="parameterConverter" ref="accessCheckFormToFormWorkspaceObjectConverter"/>
	</bean>

	<!-- 移動元帳票更新権限チェックアドバイス -->
	<bean id="sourceFormUpdateAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.SOURCE.FORM.NOUPDATEROLE"/>
	</bean>

	<!-- 移動後帳票更新権限チェックアドバイス -->
	<bean id="afterFormUpdateAuthorityCheckAdvice" parent="accessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.DESTINATION.FORM.NOUPDATEROLE"/>
	</bean>


	<!-- IDからObjectDomainを生成 -->
	<bean id="accessCheckIdToObjectConverter" class="jp.co.ctc_g.eim.app.form.common.aop.plugin.impl.IdToObjectConverterPlugInImpl"/>

	<!-- FormからFormWorkspace/FormTypeFolderを生成 -->
	<bean id="accessCheckFormToFormWorkspaceObjectConverter" class="jp.co.ctc_g.eim.app.form.common.aop.plugin.impl.FormToFormWorkspaceObjectConverterPlugInImpl"/>

	<!-- FormEventExecからFormを生成 -->
	<bean id="accessCheckEventExecToObjectConverter" class="jp.co.ctc_g.eim.app.form.common.aop.plugin.impl.EventExecToObjectConverterPlugInImpl"/>

	<!-- FormEventCriteriaからFormを生成 -->
	<bean id="accessCheckFormEventCriteriaToFormObjectConverter" class="jp.co.ctc_g.eim.app.form.common.aop.plugin.impl.FormEventCriteriaToFormObjectConverterPlugInImpl"/>

	<!-- FileAccessから添付ファイルObjectを生成 -->
	<bean id="accessCheckFileAccessToObjectConverter" class="jp.co.ctc_g.eim.app.form.common.aop.plugin.impl.FileAccessToObjectConverterPlugInImpl"/>

	<!-- FormリストからFormWorkspaceリストを生成 -->
	<bean id="accessCheckMultipleFormToFormWorkspaceObjectConverterPlugInImpl" class="jp.co.ctc_g.eim.app.form.common.aop.plugin.impl.MultipleFormToFormWorkspaceObjectConverterPlugInImpl"/>

	<aop:config>
		<!-- 帳票参照権限チェック -->
		<aop:aspect order="10" ref="formReadAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="(execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.getById(..)) and args(arg0)) or
						  (execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.getAccessHistoryList(..)) and args(arg0))"
			/>
		</aop:aspect>

		<!-- 帳票作成権限チェック -->
		<aop:aspect order="10" ref="formCreationAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="(execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.create(..)) and args(arg0)) or
						  (execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.newCopy(..,..)) and args(arg0,..))"
			/>
		</aop:aspect>

		<!-- 帳票更新権限チェック -->
		<aop:aspect order="10" ref="formUpdateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.update(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- 帳票ステータス変更権限チェック -->
		<aop:aspect order="10" ref="formStatusChangeAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.doEvent(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- 帳票処理履歴参照権限チェック -->
		<aop:aspect order="10" ref="formEventHistoryReadAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormEventService.getList(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- (添付ファイル)ダウンロード(参照)権限チェック -->
		<aop:aspect order="10" ref="attachmentReadAuthorityCheckAdvice">
			<aop:before
				method="checkAttachedFileByFileAccess"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.framework2.business.service.FileTransferService.transmitFile(..)) and bean(fileTransferService2) and args(arg0,..)"
			/>
		</aop:aspect>

		<!-- (添付ファイル)WebDAVダウンロード(参照)権限チェック -->
		<aop:aspect order="10" ref="attachmentWebDAVReadAuthorityCheckAdvice">
			<aop:before
				method="checkAttachedFileByObject"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FileObjectCreatorService.copy(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- (添付ファイル)WebDAV(編集コピー)権限チェック -->
		<!-- (添付ファイル)アップロード(更新)権限チェック -->
		<!--<aop:aspect order="10" ref="attachmentUpdateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FileObjectCreatorService.copy(..)) and args(arg0)"
			/>
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.framework2.business.service.TempFileObjectService.update(..)) and args(..,arg0,*)"
			/>
		</aop:aspect>-->

		<!-- (添付ファイル)WebDAV(取得)権限チェックアドバイス -->
		<!-- (添付ファイル)WebDAV(保存)権限チェックアドバイス -->
		<!--<aop:aspect order="10" ref="attachmentWebDAVUpdateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.framework2.business.service.WebDAVService.doGet(..)) and args(arg0)"
			/>
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.framework2.business.service.WebDAVService.doPut(..)) and args(arg0)"
			/>
		</aop:aspect>-->

		<!-- 帳票無効化（ごみ箱）権限チェック -->
		<aop:aspect order="10" ref="formSetInvalidateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.setInvalidate(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- 帳票有効化（ごみ箱）権限チェック -->
		<aop:aspect order="10" ref="formSetValidateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.setValidate(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- 帳票削除権限チェック -->
		<aop:aspect order="10" ref="formDeleteAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.delete(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- 移動元帳票タイプフォルダ作成権限チェック -->
		<aop:aspect order="9" ref="sourceFormTypeFolderCreationAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.moveForm(..,..)) and args(arg0,..)"
			/>
		</aop:aspect>

		<!-- 移動元帳票更新権限チェック -->
		<aop:aspect order="10" ref="sourceFormUpdateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.moveForm(..,..)) and args(arg0,..)"
			/>
		</aop:aspect>

		<!-- 移動後帳票更新権限チェック -->
		<aop:aspect order="10" ref="afterFormUpdateAuthorityCheckAdvice">
			<aop:after-returning
				method="check"
				pointcut="execution(* jp.co.ctc_g.eim.app.form.business.service.FormService.moveForm(..,..)) and args(..)"
				returning="arg0"
				arg-names="arg0"
			/>
		</aop:aspect>

	</aop:config>
</beans>

