<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- ====== -->
	<!-- Advice -->
	<!-- ====== -->
	
	<!-- Cache Mode設定 -->
	<bean id="cacheModeSettingAdvice" class="jp.co.ctc_g.eim.framework2.common.aop.advice.CacheModeSettingAdvice"/>
	
	<!-- Thread Context設定 -->
	<bean id="setThreadContextAdvice" class="jp.co.ctc_g.eim.framework2.common.aop.advice.SetThreadContextAdvice"/>
	
	<!-- ========= -->
	<!-- Point Cut -->
	<!-- ========= -->
	
	<!-- Cache Mode設定 -->
	<aop:config>
		<aop:aspect id="cacheModeSettingAspect" ref="cacheModeSettingAdvice" order="100">
			<aop:pointcut id="cacheModeSettingPoints"  expression="execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.sync(..)) or
																   execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.warmUp(..)) or
																   execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.getWarmUpPartitionExecuteList(..))"/>
			<aop:around pointcut-ref="cacheModeSettingPoints" method="setCacheMode" />
		</aop:aspect>
	</aop:config>
	
	<!-- Thread Context設定 -->
	<aop:config>
		<aop:aspect id="threadContextAspect" ref="setThreadContextAdvice" order="0">
			<aop:pointcut id="setThreadContextPoints"  expression=
					"execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.sync(..)) or
					 execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.recoveryFromCacheData(..)) or
					 execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.recoveryFromRDBData(..)) or
					 execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.getRecoveryPartitionExecuteListFromCache(..)) or
					 execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.getRecoveryPartitionExecuteListFromRDB(..)) or
					 execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.purgeRefUpdateLog(..))  or
					 execution(* jp.co.ctc_g.eim.framework2.business.service.cache.CacheService.getInvalidRefUpdateLogAll(..)) or
					 execution(* jp.co.ctc_g.eim.framework2.business.service.JobControlService.*(..))"
					 />
			<aop:around pointcut-ref="setThreadContextPoints" method="setThreadContext" />
		</aop:aspect>
	</aop:config>

</beans>