<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	
	<!-- 管理者権限チェックアドバイス セキュリティ管理-->
	<bean id="securityAdminAuthorityCheckAdvice" parent="adminAuthorityCheckAdvice">
		<property name="authorizationIdList">
			<list>
				<value>security</value>
			</list>
		</property>
		<property name="adminAuthErrorCode" value="EIM.ERROR.LOGIC.NOROLE"/>
	</bean>
	
	<!-- 管理者権限チェックアドバイス ワークスペース管理-->
	<bean id="workspaceAdminAuthorityCheckAdvice" parent="adminAuthorityCheckAdvice">
		<property name="authorizationIdList">
			<list>
				<value>workspace</value>
			</list>
		</property>
		<property name="adminAuthErrorCode" value="EIM.ERROR.LOGIC.NOROLE"/>
	</bean>


	<aop:config>
		
		<aop:aspect order="10" ref="securityAdminAuthorityCheckAdvice">

			<!-- セキュリティ新規　管理者権限チェック -->
			<!-- 中電技術コンサルタント様ではセキュリティ管理者権限を外す -->
			<!-- 
			<aop:before
				method="check"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentSecurityService.create(..))"
			/>
			-->
			<!-- セキュリティ更新　管理者権限チェック -->
			<!-- 中電技術コンサルタント様ではセキュリティ管理者権限を外す -->
			<!-- 
			<aop:before
				method="check"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentSecurityService.update(..))"
			/>
			-->
			<!-- セキュリティ削除　管理者権限チェック -->
			<!-- 中電技術コンサルタント様ではセキュリティ管理者権限を外す -->
			<!-- 
			<aop:before
				method="check"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentSecurityService.delete(..))"
			/>
			-->
		</aop:aspect>
		
		<aop:aspect order="10" ref="workspaceAdminAuthorityCheckAdvice">

			<!-- ワークスペース新規　管理者権限チェック -->
			<!-- 中電技術コンサルタント様ではワークスペース管理者権限を外す -->
			<!-- 
			<aop:before
				method="check"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.WorkspaceService.create(..))"
			/>
 			-->
			<!-- ワークスペース編集　管理者権限チェック -->
			<!-- 中電技術コンサルタント様ではワークスペース管理者権限を外す -->
			<!-- 
			<aop:before
				method="check"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.WorkspaceService.update(..))"
			/>
			-->
			<!-- ワークスペース削除　管理者権限チェック -->
			<!-- 中電技術コンサルタント様ではワークスペース管理者権限を外す -->
			<!-- 
			<aop:before
				method="check"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.WorkspaceService.delete(..))"
			/>
			-->
		</aop:aspect>

	</aop:config>

</beans>


