<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- objectService2SuppressGetObjectEventAspect（取得系のオブジェクト操作イベントアスペクトを抑制します） -->
	<bean id="objectService2SuppressGetObjectEventAspect" parent="objectService2" >
	</bean>

	<!-- relationService2SuppressGetRelationEventAspect（取得系のリレーション操作イベントアスペクトを抑制します） -->
	<bean id="relationService2SuppressGetRelationEventAspect" parent="relationService2" >
	</bean>

</beans>
