<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- objectDaoLayout -->
	<bean id="objectDaoLayout" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.ObjectDaoImpl" >
		<!-- null（全て取得する） -->
		<property name="attributeTypeListForSingleTargetMethod">
			<null/>
		</property>
		<!-- null（全て取得する） -->
		<property name="attributeTypeListForMultiTargetMethod">
			<null/>
		</property>
		<property name="itemListForSingleTargetMethod">
			<null/>
<!--			<list>-->
<!--				<value>TYPE</value>-->
<!--				<value>CREATION_USER</value>-->
<!--				<value>MODIFICATION_USER</value>-->
<!--				<value>LOCK_USER</value>-->
<!--				<value>STATUS</value>-->
<!--				<value>SECURITY</value>-->
<!--				<value>REVISION_GROUP_ID</value>-->
<!--			</list>-->
		</property>
		<property name="itemListForMultiTargetMethod">
			<null/>
<!--			<list>-->
<!--				<value>TYPE</value>-->
<!--				<value>CREATION_USER</value>-->
<!--				<value>MODIFICATION_USER</value>-->
<!--				<value>LOCK_USER</value>-->
<!--				<value>STATUS</value>-->
<!--				<value>SECURITY</value>-->
<!--				<value>REVISION_GROUP_ID</value>-->
<!--			</list>-->
		</property>
		<property name="limit">
			<value>1000</value>
		</property>
		<property name="limitCondition">
			<value>false</value>
		</property>
		<property name="statusDao">
			<ref bean="statusDaoLight2"/>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
	</bean>
	
	<!-- objectDaoLayoutLight -->
	<bean id="objectDaoLayoutLight" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.ObjectDaoImpl" >
		<property name="attributeTypeListForSingleTargetMethod">
			<list>
				<value>連続データID</value>
				<value>app.form.dev:属性表示順</value>
				<value>app.form.dev:属性複製対象</value>
				<value>app.form.dev:表示列</value>
			</list>
		</property>
		<property name="attributeTypeListForMultiTargetMethod">
			<list>
				<value>連続データID</value>
				<value>app.form.dev:属性表示順</value>
				<value>app.form.dev:属性複製対象</value>
				<value>app.form.dev:表示列</value>
			</list>
		</property>
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>SECURITY</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>SECURITY</value>
			</list>
		</property>
		<property name="limit">
			<value>1000</value>
		</property>
		<property name="limitCondition">
			<value>false</value>
		</property>
		<property name="statusDao">
			<ref bean="statusDaoLight2"/>
		</property>
		<property name="attributeLoadingQueryTypeEnum">
			<value>AUTO</value>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
	</bean>
	
	<!-- objectTypeDaoLayout -->
	<bean id="objectTypeDaoLayout" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.ObjectTypeDaoImpl" >
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>ATTRIBUTE_TYPE_LIST</value>
				<value>PARENT</value>
				<value>CHILD_LIST</value>
				<value>WORKFLOW</value>
				<value>OBJECT_TYPE_FORMAT_LIST</value>
				<value>OBJECT_TYPE_OBJECT</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>PARENT</value>
			</list>
		</property>
		<property name="parentRecursiveLevel">
			<value>0</value>
		</property>
		<property name="childRecursiveLevel">
			<value>1</value>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
		<property name="attributeTypeDao">
			<ref bean="attributeTypeDaoLight2"/>
		</property>
		<property name="formatDao">
			<ref bean="formatDaoLight2"/>
		</property>
		<property name="objectDao">
			<ref bean="objectDaoLayoutLight"/>
		</property>
		<property name="workflowDao">
			<ref bean="workflowDaoLight2"/>
		</property>
		<property name="sequenceDao">
			<ref bean="sequenceDao2"/>
		</property>
	</bean>
	
	<!-- formObjectDao2ForAttributeAll -->
	<bean id="formObjectDao2ForAttributeAll" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.ObjectDaoImpl" >
		<!-- null（全て取得する） -->
		<property name="attributeTypeListForSingleTargetMethod">
			<null/>
		</property>
		<property name="attributeTypeListForMultiTargetMethod">
			<null/>
		</property>
		<!-- null（全て取得する） -->
		<property name="itemListForSingleTargetMethod">
			<null/>
		</property>
		<property name="itemListForMultiTargetMethod">
			<null/>
		</property>
		<property name="isTakeStatusListForMultiTarget" value="false" />
		<property name="isTakeStatusListForSingleTarget" value="true" />
		<property name="limit" value="0" />
		<property name="bulkCount" value="200" />
		<property name="limitCondition" value="false" />
		<property name="statusDao" ref="statusDao2" />
		<property name="workflowDao" ref="workflowDao2" />
		<property name="attributeLoadingQueryTypeEnum" value="AUTO" />
		<!-- 
				getList(SearchSelectObject, SearchLimitCountCondition)において、
					取得項目および属性項目の絞り込みの挙動を切り替えるフラグ
				・true:引数⇒applicationContextのプロパティ⇒実装の順で参照します。
				・false:引数⇒実装の順で参照します。
						REVISION_GROUP_IDについては、applicationContextのみ参照します。
				本設定ファイルでは、trueとします。
				コメントアウトした場合はfalseと同じ挙動となります。
		-->
		<property name="enabledListForGetListSelectTarget">
			<value>true</value>
		</property>
		<property name="isLoadProperty" value="false" />
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
	</bean>
	
</beans>