<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--                    -->
	<!-- ワークスペース操作 -->
	<!--                    -->

	<!-- ワークスペース参照権限チェックアドバイス -->
	<bean id="workspaceReadAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOACCESS"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckIdToObjectConverter"/>
	</bean>
	<!-- ワークスペース更新権限チェックアドバイス -->
	<bean id="workspaceUpdateAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckWorkspaceDomainToObjectConverter"/>
	</bean>

	<!-- ワークスペース削除権限チェックアドバイス -->
	<bean id="workspaceDeleteAuthorityCheckAdvice" parent="multipleAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="DELETE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NODELETEROLE"/>
	</bean>

	<!--                    -->
	<!--    フォルダ操作    -->
	<!--                    -->

	<!-- フォルダ参照権限チェックアドバイス -->
	<bean id="folderReadAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOACCESS"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckIdToObjectConverter"/>
	</bean>
	<!-- フォルダ作成権限チェックアドバイス -->
	<bean id="folderCreateAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="CREATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOCREATEROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckWorkspaceDomainToObjectConverter"/>
	</bean>
	<!-- フォルダ更新権限チェックアドバイス -->
	<bean id="folderUpdateAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckWorkspaceDomainToObjectConverter"/>
	</bean>
	<!-- フォルダ削除権限(論理削除)チェックアドバイス -->
	<bean id="folderDisposeAuthorityCheckAdvice" parent="multipleAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="DELETE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NODELETEROLE"/>
	</bean>
	<!-- フォルダ削除権限(物理削除)チェックアドバイス -->
	<bean id="folderDeleteAuthorityCheckAdvice" parent="multipleAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="DELETE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NODELETEROLE"/>
	</bean>
	<!-- フォルダ移動権限チェックアドバイス -->
	<bean id="folderMoveAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="CREATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOCREATEROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckWorkspaceDomainToObjectConverter"/>
	</bean>

	<!--                    -->
	<!--  ドキュメント操作  -->
	<!--                    -->
	<!-- ドキュメント参照権限チェックアドバイス -->
	<bean id="documentReadAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOACCESS"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckIdToObjectConverter"/>
	</bean>
	<!-- 原本ドキュメント参照権限チェックアドバイス -->
	<bean id="documentAlwaysReadAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="ROLE_500"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOACCESS"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckDocumentDomainToObjectConverter"/>
	</bean>
	<!-- 公開ドキュメント参照権限チェックアドバイス -->
	<bean id="documentPublicReadAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOACCESS"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckDocumentDomainToObjectConverter"/>
	</bean>
	<!-- ドキュメント更新権限チェックアドバイス -->
	<bean id="documentUpdateAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckDocumentDomainToObjectConverter"/>
	</bean>
	<!-- ドキュメント作成権限チェックアドバイス -->
	<bean id="documentCreateAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="CREATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOCREATEROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckWorkspaceDomainToObjectConverter"/>
	</bean>
	<!-- ドキュメントチェックイン権限チェックアドバイス -->
	<bean id="documentCheckinAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="CHECKIN"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOCHECKINROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckDocumentDomainToObjectConverter"/>
	</bean>
	<!-- ドキュメントチェックアウト権限チェックアドバイス -->
	<bean id="documentCheckoutAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="CHECKOUT"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOCHECKOUTROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckDocumentDomainToObjectConverter"/>
	</bean>
	<!-- ドキュメント削除権限(論理削除)チェックアドバイス -->
	<bean id="documentDisposeAuthorityCheckAdvice" parent="multipleAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="DELETE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NODELETEROLE"/>
	</bean>
	<!-- ドキュメント削除権限(物理削除)チェックアドバイス -->
	<bean id="documentDeleteAuthorityCheckAdvice" parent="multipleAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="DELETE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NODELETEROLE"/>
	</bean>
	<!-- ドキュメント参照(リビジョン取得)権限チェックアドバイス -->
	<bean id="rivisionDocumentReadAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="READ"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOREADROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckDocumentDomainToObjectConverter"/>
	</bean>
	<!-- ドキュメント移動権限チェックアドバイス -->
	<bean id="documentMoveAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="CREATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOCREATEROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckWorkspaceDomainToObjectConverter"/>
	</bean>
	<!-- 原本ドキュメント差し替え権限チェックアドバイス -->
	<bean id="originalDocumentReplaceAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
		<!-- パラメータ変換 -->
		 <property name="parameterConverter" ref="accessCheckDocumentDomainToObjectConverter"/>
	</bean>
	<!-- ドキュメント公開PDF作成権限チェックアドバイス -->
	<bean id="documentCreatePublicPDFAuthorityCheckAdvice" parent="documentAccessAuthorityCheckAdvice">
		<property name="accessRoleTypeName" value="UPDATE"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.NOUPDATEROLE"/>
	</bean>

	<!-- IDからObjectDomainを生成 -->
	<bean id="accessCheckIdToObjectConverter" class="jp.co.ctc_g.eim.app.document.common.aop.plugin.impl.IdToObjectConverterPlugInImpl"/>
	<!-- WorkspaceDomainからObjectDomainを生成 -->
	<bean id="accessCheckWorkspaceDomainToObjectConverter" class="jp.co.ctc_g.eim.app.document.common.aop.plugin.impl.WorkspaceDomainToObjectConverterPlugInImpl"/>
	<!-- DocumentDomainからObjectDomainを生成 -->
	<bean id="accessCheckDocumentDomainToObjectConverter" class="jp.co.ctc_g.eim.app.document.common.aop.plugin.impl.DocumentDomainToObjectConverterPlugInImpl"/>

	<aop:config>
		<!-- ワークスペース参照権限チェック -->
		<aop:aspect order="10" ref="workspaceReadAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.WorkspaceService.getById(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- ワークスペース更新権限チェック -->
		<aop:aspect order="20" ref="workspaceUpdateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.WorkspaceService.update(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- ワークスペース削除(物理削除)権限チェック -->
		<aop:aspect order="20" ref="workspaceDeleteAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.WorkspaceService.delete(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- フォルダ参照権限チェック -->
		<aop:aspect order="10" ref="folderReadAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.FolderService.getById(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- フォルダ作成権限チェック -->
		<aop:aspect order="10" ref="folderCreateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.FolderService.create(..,..)) and args(..,arg0)"
			/>
		</aop:aspect>

		<!-- フォルダ更新権限チェック -->
		<aop:aspect order="10" ref="folderUpdateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.FolderService.update(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- フォルダ削除(論理削除)権限チェック -->
		<aop:aspect order="10" ref="folderDisposeAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.FolderService.dispose(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- フォルダ削除(物理削除)権限チェック -->
		<aop:aspect order="10" ref="folderDeleteAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.FolderService.delete(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- フォルダ移動権限チェック -->
		<aop:aspect order="10" ref="folderMoveAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.FolderService.move(..,..)) and args(..,arg0)"
			/>
		</aop:aspect>

		<!-- ドキュメント参照権限チェック -->
		<aop:aspect order="10" ref="documentReadAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.getById(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- 原本ドキュメント参照(常時読取)権限チェック -->
		<aop:aspect order="10" ref="documentAlwaysReadAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.getOriginalFile(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- 公開ドキュメント参照(公開読取)権限チェック -->
		<aop:aspect order="10" ref="documentPublicReadAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.getPublicFile(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- ドキュメント更新権限チェック -->
		<aop:aspect order="10" ref="documentUpdateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.update(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- ドキュメント作成権限チェック -->
		<aop:aspect order="10" ref="documentCreateAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.create(..,..,..)) and args(..,arg0,*)"
			/>
		</aop:aspect>
		<!-- ドキュメントチェックイン権限チェック -->
		<aop:aspect order="10" ref="documentCheckinAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.checkin(..,..)) and args(arg0,..)"
			/>
		</aop:aspect>
		<!-- ドキュメントチェックアウト権限チェック -->
		<aop:aspect order="10" ref="documentCheckoutAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.checkout(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- ドキュメント削除(論理削除)権限チェック -->
		<aop:aspect order="10" ref="documentDisposeAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.dispose(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- ドキュメント削除(物理削除)権限チェック -->
		<aop:aspect order="10" ref="documentDeleteAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.delete(..)) and args(arg0)"
			/>
		</aop:aspect>

		<!-- ドキュメント参照(リビジョン取得)権限チェック -->
		<aop:aspect order="10" ref="rivisionDocumentReadAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.getRevisionList(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- ドキュメント削除(リビジョン削除)権限チェック -->
		<aop:aspect order="10" ref="documentDeleteAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.deleteRevision(..)) and args(arg0)"
			/>
		</aop:aspect>
		<!-- ドキュメント移動権限チェック -->
		<aop:aspect order="10" ref="documentMoveAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.move(..,..)) and args(..,arg0)"
			/>
		</aop:aspect>
		<!-- 原本ドキュメント差し替え権限チェック -->
		<aop:aspect order="10" ref="originalDocumentReplaceAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.DocumentService.replaceOriginalFile(..,..)) and args(arg0,..)"
			/>
		</aop:aspect>
		<!-- ドキュメント公開PDF作成権限チェック -->
		<aop:aspect order="10" ref="documentCreatePublicPDFAuthorityCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.PublicDocumentService.createAsync(..)) and args(arg0)"
			/>
		</aop:aspect>

	</aop:config>
</beans>

