<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- アダプタの定義  -->

	<!-- オブジェクト登録アダプタ -->
	<bean id="createObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.CreateObjectServiceAdapterImpl">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="fileAccessService">
			<ref bean="fileAccessService2"/>
		</property>
	</bean>

	<!-- オブジェクト一括登録アダプタ -->
	<bean id="createListObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.CreateListObjectServiceAdapterImpl">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="fileAccessService">
			<ref bean="fileAccessService2"/>
		</property>
	</bean>

	<!-- オブジェクト取得アダプタ -->
	<bean id="getObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.GetObjectServiceAdapterImpl">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectServiceSuppressGetObjectEventAspect">
			<ref bean="objectService2ForAPISuppressGetObjectEventAspect"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
	</bean>

	<!-- オブジェクト一括取得アダプタ -->
	<bean id="getListObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.GetListObjectServiceAdapterImpl">
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
		<property name="simpleSearchRelatedObjectRelationParentService">
			<ref bean="simpleSearchRelatedObjectRelationParentService2"/>
		</property>
		<property name="simpleSearchRelatedObjectRelationChildService">
			<ref bean="simpleSearchRelatedObjectRelationChildService2"/>
		</property>
		<property name="simpleSearchRelatedObjectLongAttributeSourceService">
			<ref bean="simpleSearchRelatedObjectLongAttributeSourceService2"/>
		</property>
		<property name="simpleSearchRelatedObjectLongAttributeDestinationService">
			<ref bean="simpleSearchRelatedObjectLongAttributeDestinationService2"/>
		</property>
		<property name="simpleSearchRelatedObjectObjectAttributeSourceService">
			<ref bean="simpleSearchRelatedObjectObjectAttributeSourceService2"/>
		</property>
		<property name="simpleSearchRelatedObjectObjectAttributeDestinationService">
			<ref bean="simpleSearchRelatedObjectObjectAttributeDestinationService2"/>
		</property>
	</bean>

	<!-- オブジェクト更新アダプタ -->
	<bean id="updateObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.UpdateObjectServiceAdapterImpl">
		<property name="objectServiceUpdateModificationInfo">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectServiceNotUpdateModificationInfo">
			<ref bean="objectService2ForAPINotUpdateModificationInfo"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="fileAccessServiceUpdateModificationInfo">
			<ref bean="fileAccessService2ForAPI"/>
		</property>
		<property name="fileAccessServiceNotUpdateModificationInfo">
			<ref bean="fileAccessService2ForAPINotUpdateModificationInfo"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2SuppressGetObjectEventAspect"/>
		</property>

	</bean>

	<!-- オブジェクト一括更新アダプタ -->
	<bean id="updateListObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.UpdateListObjectServiceAdapterImpl">
		<property name="objectServiceUpdateModificationInfo">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectServiceNotUpdateModificationInfo">
			<ref bean="objectService2ForAPINotUpdateModificationInfo"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="fileAccessServiceUpdateModificationInfo">
			<ref bean="fileAccessService2ForAPI"/>
		</property>
		<property name="fileAccessServiceNotUpdateModificationInfo">
			<ref bean="fileAccessService2ForAPINotUpdateModificationInfo"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2SuppressGetObjectEventAspect"/>
		</property>
	</bean>

	<!-- オブジェクト削除アダプタ -->
	<bean id="deleteObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.DeleteObjectServiceAdapterImpl">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
	</bean>

	<!-- オブジェクト一括削除アダプタ -->
	<bean id="deleteListObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.DeleteListObjectServiceAdapterImpl">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
	</bean>

	<!-- ファイルダウンロードアダプタ -->
	<bean id="downloadFileObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.DownloadFileObjectServiceAdapterImpl">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="fileDao">
			<ref bean="fileDao2"/>
		</property>
		<property name="simpleSearchObjectService">
			<ref bean="simpleSearchObjectService2"/>
		</property>
	</bean>

	<!-- 一括ファイルダウンロードアダプタ -->
	<bean id="downloadFileListObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.DownloadFileListObjectServiceAdapterImpl">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="fileDao">
			<ref bean="fileDao2WithDirectory"/>
		</property>
		<property name="getListObjectServiceAdapter">
			<ref bean="getListObjectServiceAdapter2"/>
		</property>
	</bean>

	<!-- オブジェクト取得アダプタ（オブジェクト登録用に空オブジェクト情報を取得） -->
	<bean id="getEmptyObjectServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.GetEmptyObjectServiceAdapterImpl">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="objectEventAspect">
			<ref bean="getObjectEventAspect"/>
		</property>
	</bean>

	<!-- リレーション登録アダプタ -->
	<bean id="createRelationServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.CreateRelationServiceAdapterImpl">
		<property name="relationService">
			<ref bean="relationService2ForAPI"/>
		</property>
		<property name="relationTypeService">
			<ref bean="relationTypeService2"/>
		</property>
	</bean>

	<!-- リレーション取得アダプタ -->
	<bean id="getRelationServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.GetRelationServiceAdapterImpl">
		<property name="relationService">
			<ref bean="relationService2ForAPI"/>
		</property>
		<property name="simpleSearchRelationService">
			<ref bean="simpleSearchRelationService2"/>
		</property>
	</bean>

	<!-- リレーション更新アダプタ -->
	<bean id="updateRelationServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.UpdateRelationServiceAdapterImpl">
		<property name="relationService">
			<ref bean="relationService2ForAPI"/>
		</property>
		<property name="relationTypeService">
			<ref bean="relationTypeService2"/>
		</property>
		<property name="simpleSearchRelationService">
			<ref bean="simpleSearchRelationService2SuppressGetRelationEventAspect"/>
		</property>
		<property name="relationDao">
			<ref bean="relationDao2ForAPI"/>
		</property>
	</bean>

	<!-- リレーション削除アダプタ -->
	<bean id="deleteRelationServiceAdapter2" class="jp.co.ctc_g.eim.framework2.business.adapter.impl.DeleteRelationServiceAdapterImpl">
		<property name="relationService">
			<ref bean="relationService2ForAPI"/>
		</property>
	</bean>


	<!-- オブジェクトサービスアダプタユーティリティ -->
	<bean id="objectServiceAdapterUtils2" class="jp.co.ctc_g.eim.framework2.business.adapter.util.ObjectServiceAdapterUtils">
		<property name="objectService">
			<ref bean="objectService2ForAPI"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeServiceWithOnlyAttributeTypeList2"/>
		</property>
	</bean>

	<!-- リレーションサービスアダプタユーティリティ -->
	<bean id="relationServiceAdapterUtils2" class="jp.co.ctc_g.eim.framework2.business.adapter.util.RelationServiceAdapterUtils">
		<property name="relationTypeService">
			<ref bean="relationTypeServiceWithOnlyAttributeTypeList2"/>
		</property>
	</bean>
</beans>
