<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee.xsd">

	<!-- ================================ -->
	<!-- 分散トランザクション (JTA対応)   -->
	<!-- ================================ -->

	<!-- DataSource Web用 JTA対応 -->
	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/eimdbXa" />

	<!-- Spring Transaction Manager JTA対応 -->
	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="allowCustomIsolationLevels" value="true" />
	</bean>

	<!-- EIMANAGER Data Source Factory -->
	<!--   XADataSourceを取得するためにconfig.properties:DATASOURCE_NAMEの指定を上書きします。-->
	<!--   これはDBUtils#getPoolingConnection() -> DataSourceFactory#getDataSource()から参照されています。 -->
	<bean class="eim.db.DataSourceFactory">
		<property name="jndiName" value="jdbc/eimdbXa" />
	</bean>
</beans>