<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ======================================================================================== -->
	<!-- サービス -->
	<!-- ======================================================================================== -->
	<!-- レイアウト情報保持ステータスタイプのサービス  -->
	<bean id="adminStatusTypeLayoutService" class="jp.co.ctc_g.eim.app.form.business.service.impl.StatusTypeLayoutServiceImpl">
		<property name="statusTypeService" ref="statusTypeService2"/>
		<property name="objectService" ref="objectServiceLayout"/>
		<property name="objectTypeService" ref="objectTypeService2"/>
		<property name="attributeTypeLayoutService" ref="adminAttributeTypeLayoutService"/>
		<property name="attributeTypeService" ref="attributeTypeService2"/>
	</bean>

	<!-- レイアウト情報保持属性タイプのサービス  -->
	<bean id="adminAttributeTypeLayoutService" class="jp.co.ctc_g.eim.app.form.business.service.impl.AttributeTypeLayoutServiceImpl">
		<property name="attributeTypeService" ref="attributeTypeService2"/>
		<property name="objectService" ref="objectServiceLayout"/>
		<property name="objectTypeService" ref="objectTypeService2"/>
		<property name="codeTypeService" ref="codeTypeService2"/>
		<property name="searchMasterDisplayConfigService" ref="searchMasterDisplayConfigService"/>
	</bean>

	<!-- 帳票ワークスペースサービス -->
	<bean id="adminFormWorkspaceService" class="jp.co.ctc_g.eim.app.form.business.service.impl.FormWorkspaceServiceImpl" >
		<property name="objectService" ref="adminObjectService"/>
		<property name="objectTypeService" ref="objectTypeService2"/>
		<property name="formTypeService" ref="adminFormTypeService"/>
		<!--<property name="assignmentService" ref="formAssignmentService2"/>-->
		<property name="attributeTypeService" ref="attributeTypeService2"/>
		<property name="securityService" ref="securityService2"/>
		<property name="languageService" ref="languageService2"/>
		<property name="itemListForSingleTargetMethod">
			<list>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
			</list>
		</property>
	</bean>

	<!-- 帳票ワークスペースサービス -->
	<bean id="adminFormWorkspaceService2" class="jp.co.ctc_g.eim.app.form.business.service.impl.FormWorkspaceServiceImpl" >
		<property name="objectService" ref="adminObjectService"/>
		<property name="objectTypeService" ref="objectTypeService2"/>
		<property name="formTypeService" ref="adminFormTypeService"/>
		<!--<property name="assignmentService" ref="formAssignmentService2"/>-->
		<property name="attributeTypeService" ref="attributeTypeService2"/>
		<property name="securityService" ref="securityService2"/>
		<property name="languageService" ref="languageService2"/>
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>FORM_TYPE_LIST</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>FORM_TYPE_LIST</value>
			</list>
		</property>
	</bean>

	<!-- 帳票タイプサービス -->
 	<bean id="adminFormTypeService" class="jp.co.ctc_g.eim.app.form.business.service.impl.FormTypeServiceImpl" >
 		<property name="objectTypeService" ref="adminObjectTypeService"/>
 		<property name="formLayoutService" ref="formLayoutService"/>
		<property name="formTypeFolderService" ref="adminFormTypeFolderService"/>
	</bean>

	<!-- 帳票タイプフォルダサービス -->
	<bean id="adminFormTypeFolderService" class="jp.co.ctc_g.eim.app.form.business.service.impl.FormTypeFolderServiceImpl">
		<property name="objectService" ref="adminObjectService"/>
		<property name="objectTypeService" ref="objectTypeService2" />
		<property name="attributeTypeService" ref="attributeTypeService2" />
	</bean>

	<!-- ======================================================================================== -->
	<!-- UIコントロールマスタ定義取得サービス -->
	<!-- ======================================================================================== -->
	<bean id="uIControlConfService"  class="jp.co.ctc_g.eim.app.form.business.service.impl.UIControlConfServiceImpl">
		<property name="uIControlConfList">
			<list>
				<!-- テキストインプット -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="1"/>
					<property name="type" value="TEXTINPUT"/>
					<property name="beanId" value="uIControlTextInput"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="1行テキスト"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="Single-Line Text"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="-"/>
				</bean>
				<!-- テキストエリア -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="2"/>
					<property name="type" value="TEXTAREA"/>
					<property name="beanId" value="uIControlTextArea"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="複数テキスト"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="Multiple-Line Text"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="-"/>
				</bean>
				<!-- リッチテキスト -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="3"/>
					<property name="type" value="RICHTEXT"/>
					<property name="beanId" value="uIControlRichText"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="リッチテキスト"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="Rich Text"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="-"/>
				</bean>
				<!-- ファイル -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="4"/>
					<property name="type" value="FILE"/>
					<property name="beanId" value="uIControlFile"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="ファイル"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="File"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="-"/>
				</bean>
				<!-- コンボボックス -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="5"/>
					<property name="type" value="COMBOBOX"/>
					<property name="beanId" value="uIControlComboBox"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="コンボボックス"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="ComboBox"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="-"/>
				</bean>
				<!-- カレンダー -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="6"/>
					<property name="type" value="CALENDER"/>
					<property name="beanId" value="uIControlDateField"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="カレンダー"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="Calender"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="-"/>
				</bean>
				<!-- ラジオボタン -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="7"/>
					<property name="type" value="RADIOBUTTON"/>
					<property name="beanId" value="uIControlRadioButton"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="ラジオボタン"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="RadioButton"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="-"/>
				</bean>
				<!-- チェックボックス -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="8"/>
					<property name="type" value="CHECKBOX"/>
					<property name="beanId" value="uIControlCheckBox"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="チェックボックス"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="CheckBox"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="-"/>
				</bean>
				<!-- ユーザ検索 -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="9"/>
					<property name="type" value="USERSEARCH"/>
					<property name="beanId" value="uIControlSearchField"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="ユーザ検索"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="Search（Classification Master）"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="app.form.dev.分類マスタ"/>
				</bean>
				<!-- タスク雛型ドキュメント検索 -->
<!-- 				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain"> -->
<!-- 					<property name="id" value="9"/> -->
<!-- 					<property name="type" value="OBJECTSEARCH"/> -->
<!-- 					<property name="beanId" value="uIControlSearchTaskTemplateDocumentField"/> -->
<!-- 					<property name="nameList"> -->
<!-- 						<list> -->
<!-- 							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain"> -->
<!-- 								<property name="langId" value="JA"/> -->
<!-- 								<property name="name" value="タスク雛型ドキュメント検索"/> -->
<!-- 							</bean> -->
<!-- 							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain"> -->
<!-- 								<property name="langId" value="EN"/> -->
<!-- 								<property name="name" value="Search（Task Template Document）"/> -->
<!-- 							</bean> -->
<!-- 						</list> -->
<!-- 					</property> -->
<!-- 					<property name="refMasterObjectTypeName" value="app.task.dev:雛型ドキュメント"/> -->
<!-- 				</bean> -->
				<!-- カスタムオブジェクト検索 -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="9"/>
					<property name="type" value="OBJECTSEARCH"/>
					<property name="beanId" value="uIControlCustomObjectSearchField"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="カスタムオブジェクト検索"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="Custom Object Search"/>
							</bean>
						</list>
					</property>
<!-- 					<property name="refMasterObjectTypeName" value="app.task.dev:雛型ドキュメント"/> -->
				</bean>

<!-- 以下、サンプル。実際のオブジェクト検索の仕様に合わせて定義する必要がある。 -->

				<!-- オブジェクト検索 -->
				<bean class="jp.co.ctc_g.eim.app.form.business.domain.UIControlConfDomain">
					<property name="id" value="13"/>
					<property name="type" value="OBJECTSEARCH"/>
					<property name="beanId" value="uIControlSearchDocumentField"/>
					<property name="nameList">
						<list>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA"/>
								<property name="name" value="ドキュメント検索"/>
							</bean>
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN"/>
								<property name="name" value="Search Documents"/>
							</bean>
						</list>
					</property>
					<property name="refMasterObjectTypeName" value="ドキュメント"/>
				</bean>
			</list>
		</property>
	</bean>

	<!-- ======================================================================================== -->
	<!--オブジェクトマスタ検索画面表示設定 -->
	<!-- ======================================================================================== -->
	<!-- オブジェクトタイプ -->
	<bean id="objectTypeTaskTemplateDocument" class="jp.co.ctc_g.eim.app.form.business.domain.SearchMasterDisplayConfigDomain">
		<!-- オブジェクトタイプ  -->
		<property name="objectType">
			<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.ObjectTypeDomain">
				<constructor-arg type="java.lang.String" index="0" value="雛型ドキュメント"/>
			</bean>
		</property>
		<!-- 検索フィールド（呼出し部）の表示属性 -->
		<property name="displayFieldAttributeType">
			<!-- 属性タイプ(またはオブジェクト名称擬似属性タイプ) -->
			<ref bean="pseudoAttributeTypeName"/>
		</property>
		<!-- 検索画面のタイトル -->
		<property name="description">
			<list>
				<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
					<property name="langId" value="JA"/>
					<property name="name" value="雛型ドキュメント"/>
				</bean>
				<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
					<property name="langId" value="EN"/>
					<property name="name" value="Template Document"/>
				</bean>
			</list>
		</property>
		<!-- 検索画面のマスタ検索時における上限件数 -->
		<property name="limit" value="1000"/>
		<!-- 検索画面の表示属性 -->
		<property name="displayDialogAttributeTypeList">
			<list>
				<!-- 属性タイプ(またはオブジェクト名称擬似属性タイプ) -->
				<ref bean="pseudoAttributeTypeName"/>
			</list>
		</property>
	</bean>

<!-- 以下、サンプル。実際の属性に合わせて定義する必要がある。 -->
	<!-- オブジェクトタイプ -->
	<bean id="objectType1" class="jp.co.ctc_g.eim.app.form.business.domain.SearchMasterDisplayConfigDomain">
		<!-- オブジェクトタイプ  -->
		<property name="objectType">
			<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.ObjectTypeDomain">
				<constructor-arg type="java.lang.String" index="0" value="ドキュメント"/>
			</bean>
		</property>
		<!-- 検索フィールド（呼出し部）の表示属性 -->
		<property name="displayFieldAttributeType">
			<!-- 属性タイプ(またはオブジェクト名称擬似属性タイプ) -->
			<ref bean="pseudoAttributeTypeName"/>
		</property>
		<!-- 検索画面のタイトル -->
		<property name="description">
			<list>
				<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
					<property name="langId" value="JA"/>
					<property name="name" value="ドキュメント"/>
				</bean>
				<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
					<property name="langId" value="EN"/>
					<property name="name" value="Document"/>
				</bean>
			</list>
		</property>
		<!-- 検索画面のマスタ検索時における上限件数 -->
		<property name="limit" value="1000"/>
		<!-- 検索画面の表示属性 -->
		<property name="displayDialogAttributeTypeList">
			<list>
				<!-- 属性タイプ(またはオブジェクト名称擬似属性タイプ) -->
				<ref bean="pseudoAttributeTypeName"/>
			</list>
		</property>
	</bean>

	<!-- 擬似属性タイプ：名称 -->
	<bean id="pseudoAttributeTypeName"
			class="jp.co.ctc_g.eim.framework2.business.domain.entity.AttributeTypeDomain">
		<constructor-arg type="java.lang.String" value="name"/>
		<property name="id">
			<value>-102</value>
		</property>
	</bean>

</beans>