<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 文書管理ではFramework2のServiceを呼び出していないため、Daoに対するAOPでプラグインを呼び出す -->

	<!-- ==================================== -->

	<!-- オブジェクトイベントアスペクトの定義 -->

	<!-- ==================================== -->

	<!-- ==================================== -->

	<!-- リレーションイベントアスペクトの定義 -->

	<!-- ==================================== -->

	<bean id="createRelationEventAspectForDao" class="jp.co.ctc_g.eim.framework2.business.aop.aspect.RelationEventAspect">
		<property name="eventHandlerList">
			<list>
			</list>
		</property>
	</bean>

	<!-- ==================================== -->

	<!-- オブジェクトイベントのポイントカット -->

	<!-- ==================================== -->
	<!-- ==================================== -->

	<!-- リレーションイベントのポイントカット -->

	<!-- ==================================== -->

	<!-- =========== -->
	<!-- After Event -->
	<!-- =========== -->

	<aop:config>
		<aop:aspect ref="createRelationEventAspectForDao">
			<aop:after-returning
				method="handleAfterEventByRelation"
				pointcut="execution(* jp.co.ctc_g.eim.framework2.integration.dao.impl.RelationDaoImpl.create(..))"
				returning="relation"
			/>
		</aop:aspect>
	</aop:config>


	<!-- ====================== -->

	<!-- イベントハンドラの定義 -->

	<!-- ====================== -->

	<!-- リレーションイベントハンドラの定義 -->
	<bean id="relationEventHandlerForDao" class="jp.co.ctc_g.eim.framework2.business.aop.event_handler.impl.RelationEventHandler">
		<property name="targetTypeDefinitionName" value="ドキュメント" />
		<property name="afterEventPlugInList">
			<list>
				<!-- シリーズを更新する事後処理プラグイン -->
				<ref bean="seriesUpdatorByParentMembersRelationAfterEventPlugIn"/>
			</list>
		</property>
	</bean>

	<!-- ==================================  -->
	<!-- リレーションイベントハンドラの登録  -->
	<!-- ==================================  -->
	<!-- 登録 -->
	<bean class="jp.co.ctc_g.eim.framework2.business.aop.aspect.EventAspectManager">
		<property name="eventAspect">
			<ref bean="createRelationEventAspectForDao"/>
		</property>
		<property name="eventHandlerList">
			<list>
				<ref bean="relationEventHandlerForDao"/>
			</list>
		</property>
	</bean>

	<!-- ======================== -->

	<!-- イベントプラグインの定義 -->

	<!-- ======================== -->

</beans>
