<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	
	<!-- 楽観的排他チェックアドバイス(単数) -->
	<bean id="optimisticLockCheckAdvice" class="jp.co.ctc_g.eim.app.form.common.aop.OptimisticLockCheckAdvice" >
		<property name="objectService" ref="objectService2"/>
		<property name="optimisticLockErrorCode" value="EIM.ERROR.LOGIC.OPTIMISTICLOCKCHECK.FAILED"/>
	</bean>
	<!-- 楽観的排他チェックアドバイス(複数) -->
	<bean id="multipleOptimisticLockCheckAdvice" class="jp.co.ctc_g.eim.app.form.common.aop.MultipleOptimisticLockCheckAdvice" >
		<property name="objectService" ref="objectService2"/>
		<property name="optimisticLockErrorCode" value="EIM.ERROR.LOGIC.OPTIMISTICLOCKCHECK.FAILED"/>
	</bean>

	<aop:config>
		<!-- 帳票更新　楽観的排他チェック -->
		<aop:aspect order="30" ref="optimisticLockCheckAdvice">
			<aop:before
				method="check"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.impl.HTMLDocumentFormServiceImpl.update(..)) and args(arg0)"
			/>
		</aop:aspect>
		
	</aop:config>

</beans>

