<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- アクセス履歴出力アドバイス -->
	<bean id="accessHistoryAdvice" class="jp.co.ctc_g.eim.app.document.common.aop.advice.DocumentAccessHistoryAdvice">
		<property name="accessHistoryService" ref="accessHistoryService2" />
		<property name="objectService" ref="objectService2" />
	</bean>

	<!-- ページダウンロード アクセス履歴出力 -->
	<bean id="pageDownloadAccessHistoryAdvice" parent="accessHistoryAdvice">
		<property name="accessType" value="EIM.ACCESS.TYPE.DOWNLOAD" />
		<!-- パラメータ変換 -->
	 	<property name="parameterConverter" ref="accessCheckIdToObjectConverter"/>
	</bean>

	<!-- 公開PDF事前登録 アクセス履歴出力 -->
	<bean id="preRegistPublicPdfAccessHistoryAdvice" parent="accessHistoryAdvice">
		<property name="accessType" value="EIM.ACCESS.TYPE.PDF.PREREGIST" />
	</bean>
	
	<!-- 事前登録公開PDF削除 アクセス履歴出力 -->
	<bean id="deletePreRegistPublicPdfAccessHistoryAdvice" parent="accessHistoryAdvice">
		<property name="accessType" value="EIM.ACCESS.TYPE.PRE.PDF.DELETE" />
	</bean>
	
	<!-- ■■■■■■■■■ -->
	<!--      Box連携       -->
	<!-- ■■■■■■■■■ -->
	<!-- Box表示 アクセス履歴出力 -->
	<bean id="createFileInBoxAccessHistoryAdvice" parent="accessHistoryAdvice">
		<property name="accessType" value="EIM.ACCESS.TYPE.PUBLISHTOBOX" />
	</bean>
	
	<!-- IDからObjectDomainを生成 -->
	<bean id="accessCheckIdToObjectConverter" class="jp.co.ctc_g.eim.app.document.common.aop.plugin.impl.IdToObjectConverterPlugInImpl"/>

	<aop:config>
		<!-- ページダウンロード アクセス履歴出力 -->
		<aop:aspect order="10" ref="pageDownloadAccessHistoryAdvice">
			<aop:after-returning method="registerAboutObject"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.search.core.searchApi.presentation.controller.FileDownloadController.getPage(..)) and args(arg0,..)" />
		</aop:aspect>
	</aop:config>

	<aop:config>
		<!-- 公開PDF事前登録 アクセス履歴出力 -->
		<aop:aspect order="10" ref="preRegistPublicPdfAccessHistoryAdvice">
			<aop:after-returning method="registerAboutObject"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.PublicDocumentService.preRegistPublicPdf(..,..)) and args(arg0,..)" />
		</aop:aspect>
	</aop:config>

	<aop:config>
		<!-- 事前登録公開PDF削除 アクセス履歴出力 -->
		<aop:aspect order="10" ref="deletePreRegistPublicPdfAccessHistoryAdvice">
			<aop:after-returning method="registerAboutObject"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.app.document.business.service.PublicDocumentService.deletePreRegistPdf(..)) and args(arg0)" />
		</aop:aspect>
	</aop:config>
	

	<!-- ■■■■■■■■■ -->
	<!--      Box連携       -->
	<!-- ■■■■■■■■■ -->
	<!-- Box表示 アクセス履歴出力 -->
	<aop:config>
		<!-- 事前登録公開PDF削除 アクセス履歴出力 -->
		<aop:aspect order="10" ref="createFileInBoxAccessHistoryAdvice">
			<aop:after-returning method="registerAboutObject"
				arg-names="arg0"
				pointcut="execution(* jp.co.ctc_g.eim.framework2.business.service.box.BoxFileService.copyFromEIMFile(..)) and args(arg0,..)" />
		</aop:aspect>
	</aop:config>

</beans>