<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/batch
			http://www.springframework.org/schema/batch/spring-batch.xsd			
			">

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="stop">
		<property name="triggers">
			<list>
				<!-- キャッシュ同期 -->
				<ref bean="directoryDataSyncTrigger" />
				<ref bean="formatDataSyncTrigger" />
				<ref bean="attributeTypeDataSyncTrigger" />
				<ref bean="objectTypeDataSyncTrigger" />
				<ref bean="groupDataSyncTrigger" />
				<ref bean="userDataSyncTrigger" />
				<ref bean="fileDataSyncTrigger" />
				<ref bean="objectDataSyncTrigger" />
				<!-- 無効更新ログ参照データ削除 -->
				<ref bean="purgeRefUpdateLogTrigger" />
				<!-- キャッシュリカバリ -->
				<ref bean="cacheRecoverTrigger" />
			</list>
		</property>
		<property name="autoStartup" value="false" />
		<property name="waitForJobsToCompleteOnShutdown" value="true" />
	</bean>

	<!-- ================================ -->
	<!-- 起動するタイミング（時刻）の指定 -->
	<!-- ================================ -->

	<!-- キャッシュ同期 -->
	<bean id="directoryDataSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="directoryDataSyncJob" />
		<property name="cronExpression" value="0/30 * * * * ?" />
	</bean>

	<bean id="formatDataSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="formatDataSyncJob" />
		<property name="cronExpression" value="3/30 * * * * ?" />
	</bean>

	<bean id="attributeTypeDataSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="attributeTypeDataSyncJob" />
		<property name="cronExpression" value="6/30 * * * * ?" />
	</bean>

	<bean id="objectTypeDataSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="objectTypeDataSyncJob" />
		<property name="cronExpression" value="9/30 * * * * ?" />
	</bean>

	<bean id="groupDataSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="groupDataSyncJob" />
		<property name="cronExpression" value="12/30 * * * * ?" />
	</bean>

	<bean id="userDataSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="userDataSyncJob" />
		<property name="cronExpression" value="15/30 * * * * ?" />
	</bean>

	<bean id="fileDataSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="fileDataSyncJob" />
		<property name="cronExpression" value="18/30 * * * * ?" />
	</bean>

	<bean id="objectDataSyncTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="objectDataSyncJob" />
		<property name="cronExpression" value="21/30 * * * * ?" />
	</bean>

	<!-- 無効更新ログ参照データ削除 -->
	<bean id="purgeRefUpdateLogTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="purgeRefUpdateLogJob" />
		<property name="cronExpression" value="0 45 0 * * ?" />
	</bean>

	<!-- キャッシュリカバリ -->
	<bean id="cacheRecoverTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="cacheRecoverJob" />
		<property name="cronExpression" value="0 0 1 * * ?" />
	</bean>

	<!-- ======================= -->
	<!-- 実際に起動する処理の指定 -->
	<!-- ======================= -->

	<!-- キャッシュ同期 -->
	<bean id="directoryDataSyncJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="directoryCacheSyncJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="formatDataSyncJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="formatCacheSyncJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="attributeTypeDataSyncJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="attributeTypeCacheSyncJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="objectTypeDataSyncJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="objectTypeCacheSyncJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="groupDataSyncJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="groupCacheSyncJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="userDataSyncJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="userCacheSyncJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="fileDataSyncJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="fileCacheSyncJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="objectDataSyncJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="objectCacheSyncJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<!-- 無効更新ログ参照データ削除 -->
	<bean id="purgeRefUpdateLogJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="purgeRefUpdateLogJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<!-- キャッシュリカバリ -->
	<bean id="cacheRecoverJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="cacheRecoverJobTarget" />
		<property name="targetMethod" value="execute" />
	</bean>

	<!-- =============== -->
	<!-- Jobの実装クラス -->
	<!-- =============== -->

	<!-- キャッシュ同期 -->
	<bean id="directoryCacheSyncJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheSyncJob">
		<property name="cacheService" ref="directoryCacheService" />
	</bean>

	<bean id="formatCacheSyncJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheSyncJob">
		<property name="cacheService" ref="formatCacheService" />
	</bean>

	<bean id="attributeTypeCacheSyncJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheSyncJob">
		<property name="cacheService" ref="attributeTypeCacheService" />
	</bean>

	<bean id="objectTypeCacheSyncJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheSyncJob">
		<property name="cacheService" ref="objectTypeCacheService" />
	</bean>

	<bean id="groupCacheSyncJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheSyncJob">
		<property name="cacheService" ref="groupCacheService" />
	</bean>

	<bean id="userCacheSyncJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheSyncJob">
		<property name="cacheService" ref="userCacheService" />
	</bean>

	<bean id="fileCacheSyncJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheSyncJob">
		<property name="cacheService" ref="fileCacheService" />
	</bean>

	<bean id="objectCacheSyncJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheSyncJob">
		<property name="cacheService" ref="objectCacheService" />
	</bean>

	<!-- 無効更新ログ参照データ削除 -->
	<bean id="purgeRefUpdateLogJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.PurgeRefUpdateLogJob">
		<property name="cacheServiceNameList">
			<list>
				<value>directoryCacheService</value>
				<value>formatCacheService</value>
				<value>attributeTypeCacheService</value>
				<value>objectTypeCacheService</value>
				<value>groupCacheService</value>
				<value>userCacheService</value>
				<value>fileCacheService</value>
				<value>objectCacheService</value>
			</list>
		</property>
		<property name="jobControlService" ref="jobControlInClusterService" />
	</bean>

	<!-- キャッシュリカバリ -->
	<bean id="cacheRecoverJobTarget"
		class="jp.co.ctc_g.eim.framework2.presentation.job.CacheRecoverJob">
		<property name="cacheServiceNameList">
			<list>
				<value>objectCacheService</value>
				<value>userCacheService</value>
				<value>groupCacheService</value>
			</list>
		</property>
		<property name="jobControlService" ref="jobControlInClusterService" />
		<!-- 対象期間(2日間) -->
		<property name="period" value="172800" />
		<!-- オブジェクトの一括処理数 -->
		<property name="bulkProcessedNumber" value="10000" />
		<!-- 同時実行スレッド数 -->
		<property name="threadNumber" value="4" />
		<!-- 起点日時 -->
		<property name="endDateStr" value="" />
	</bean>

</beans>