<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- accessEntryService2 -->
	<bean id="accessEntryService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AccessEntryServiceImpl" >
		<property name="accessEntryDao">
			<ref bean="accessEntryDao2"/>
		</property>
	</bean>

	<!-- accessHistoryService2 -->
	<bean id="accessHistoryService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AccessHistoryServiceImpl" >
		<property name="accessHistoryDao">
			<ref bean="accessHistoryDao2"/>
		</property>
	</bean>

	<!-- accessRoleTypeService2 -->
	<bean id="accessRoleTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AccessRoleTypeServiceImpl" >
		<property name="accessRoleTypeDao">
			<ref bean="accessRoleTypeDao2"/>
		</property>
	</bean>

	<!-- accumulationMailService2 -->
	<bean id="accumulationMailService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AccumulationMailServiceImpl" >
		<property name="accumulationMailDao">
			<ref bean="accumulationMailDao2"/>
		</property>
	</bean>

	<!-- adminAuthService2 -->
	<bean id="adminAuthService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AdminAuthServiceImpl" >
		<property name="adminAuthTypeDao">
			<ref bean="adminAuthTypeDao2"/>
		</property>
		<property name="userDao">
			<ref bean="userDaoLight2"/>
		</property>
	</bean>

	<!-- adminAuthTypeService2 -->
	<bean id="adminAuthTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AdminAuthTypeServiceImpl" >
		<property name="adminAuthTypeDao">
			<ref bean="adminAuthTypeDao2"/>
		</property>
	</bean>

	<!-- assignmentEntryService2 -->
	<bean id="assignmentEntryService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AssignmentEntryServiceImpl" >
		<property name="assignmentEntryDao">
			<ref bean="assignmentEntryDao2"/>
		</property>
	</bean>

	<!-- assignmentPlanService2 -->
	<bean id="assignmentPlanService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AssignmentPlanServiceImpl" >
		<property name="assignmentPlanDao">
			<ref bean="assignmentPlanDao2"/>
		</property>
	</bean>

	<!-- assignmentServiceLight2 -->
	<bean id="assignmentServiceLight2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AssignmentServiceImpl" >
		<property name="assignmentDao">
			<ref bean="assignmentDaoLight2"/>
		</property>
	</bean>

	<!-- assignmentService2 -->
	<bean id="assignmentService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AssignmentServiceImpl" >
		<property name="assignmentDao">
			<ref bean="assignmentDao2"/>
		</property>
	</bean>

	<!-- attributeTypeServiceLight2 -->
	<bean id="attributeTypeServiceLight2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AttributeTypeServiceImpl" >
		<property name="attributeTypeDao">
			<ref bean="attributeTypeDaoLight2"/>
		</property>
	</bean>

	<!-- attributeTypeService2 -->
	<bean id="attributeTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.AttributeTypeServiceImpl" >
		<property name="attributeTypeDao">
			<ref bean="attributeTypeDao2"/>
		</property>
	</bean>

	<!-- complexService2 -->
	<bean id="complexService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.ComplexServiceImpl" >
		<property name="complexDao">
			<ref bean="complexDao2"/>
		</property>
	</bean>

	<!-- directoryService2 -->
	<bean id="directoryService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.DirectoryServiceImpl" >
		<property name="directoryDao">
			<ref bean="directoryDao2"/>
		</property>
		<property name="directoryAccessor">
			<ref bean="directoryAccessor2"/>
		</property>
	</bean>

	<!-- eventExecService2 -->
	<bean id="eventExecService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.EventExecServiceImpl" >
		<property name="baseEventTypeDao">
			<ref bean="baseEventTypeDao2"/>
		</property>
		<property name="baseStatusTypeDao">
			<ref bean="baseStatusTypeDao2"/>
		</property>
		<property name="objectDao">
			<ref bean="objectDao2"/>
		</property>
		<property name="statusDao">
			<ref bean="statusDaoLight2"/>
		</property>
		<property name="eventDao">
			<ref bean="eventDaoLight2"/>
		</property>
		<property name="eventTypeDao">
			<ref bean="eventTypeDao2"/>
		</property>
		<property name="assignmentDao">
			<ref bean="assignmentDaoLight2"/>
		</property>
		<property name="mailService">
			<ref bean="mailService2"/>
		</property>
		<property name="baseEventTypePlugIn">
			<ref bean="baseEventTypePlugIn2"/>
		</property>
		<property name="guardConditionPlugIn">
			<ref bean="guardConditionPlugIn2"/>
		</property>
		<property name="isStatusCreation">
			<value>false</value>
		</property>
	</bean>

	<!-- eventService2 -->
	<bean id="eventService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.EventServiceImpl" >
		<property name="eventDao">
			<ref bean="eventDao2"/>
		</property>
	</bean>

	<!-- eventTypeService2 -->
	<bean id="eventTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.EventTypeServiceImpl" >
		<property name="eventTypeDao">
			<ref bean="eventTypeDao2"/>
		</property>
	</bean>

	<!-- fileAccessService2 -->
	<bean id="fileAccessService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.FileAccessServiceImpl" >
		<property name="formatDao">
			<ref bean="formatDao2"/>
		</property>
		<property name="directoryDao">
			<ref bean="directoryDao2"/>
		</property>
		<property name="fileDao">
			<ref bean="fileDao2"/>
		</property>
		<property name="objectDao">
			<ref bean="objectDaoLight2"/>
		</property>
		<property name="fileAccessor">
			<ref bean="fileAccessor2"/>
		</property>
	</bean>

	<!-- formatServiceLight2 -->
	<bean id="formatServiceLight2" class="jp.co.ctc_g.eim.framework2.business.service.impl.FormatServiceImpl" >
		<property name="formatDao">
			<ref bean="formatDaoLight2"/>
		</property>
		<property name="directoryAccessor">
			<ref bean="directoryAccessor2"/>
		</property>
	</bean>

	<!-- formatService2 -->
	<bean id="formatService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.FormatServiceImpl" >
		<property name="formatDao">
			<ref bean="formatDao2"/>
		</property>
		<property name="directoryAccessor">
			<ref bean="directoryAccessor2"/>
		</property>
	</bean>

	<!-- groupService2 -->
	<bean id="groupService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.GroupServiceImpl" >
		<property name="groupDao">
			<ref bean="groupDao2"/>
		</property>
	</bean>

	<!-- languageService2 -->
	<bean id="languageService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.LanguageServiceImpl" >
		<property name="languageDao">
			<ref bean="languageDao2"/>
		</property>
	</bean>

	<!-- objectService2 -->
	<bean id="objectService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.ObjectServiceImpl" >
		<property name="objectDao">
			<ref bean="objectDao2"/>
		</property>
		<property name="fileDao">
			<ref bean="fileDao2Full"/>
		</property>
		<property name="fileAccessor">
			<ref bean="fileAccessor2"/>
		</property>
		<property name="relationDao">
			<ref bean="relationDao2"/>
		</property>
		<property name="userDao">
			<ref bean="userDaoLight2"/>
		</property>
		<property name="accessRoleTypeDao">
			<ref bean="accessRoleTypeDao2"/>
		</property>
		<property name="objectTypeDao">
			<ref bean="objectTypeDao2WithoutItems"/>
		</property>
		<property name="membersDao">
			<ref bean="membersDaoLight2"/>
		</property>
		<property name="seriesDao">
			<ref bean="seriesDao2"/>
		</property>
		<property name="namingService">
			<ref bean="namingService2"/>
		</property>
	</bean>

	<!-- objectService3 -->
	<bean id="objectService3" class="jp.co.ctc_g.eim.framework2.business.service.impl.ObjectServiceImpl" >
		<property name="objectDao">
			<ref bean="objectDao3"/>
		</property>
		<property name="fileDao">
			<ref bean="fileDao2Full"/>
		</property>
		<property name="fileAccessor">
			<ref bean="fileAccessor2"/>
		</property>
		<property name="relationDao">
			<ref bean="relationDao2"/>
		</property>
		<property name="userDao">
			<ref bean="userDaoLight2"/>
		</property>
		<property name="accessRoleTypeDao">
			<ref bean="accessRoleTypeDao2"/>
		</property>
		<property name="objectTypeDao">
			<ref bean="objectTypeDao2"/>
		</property>
		<property name="namingService">
			<ref bean="namingService2"/>
		</property>
	</bean>

	<!-- objectService4 (objectService2とは"EIMOBJテーブルの更新日/更新者を更新しない" のみの差異）-->
	<bean id="objectService4" class="jp.co.ctc_g.eim.framework2.business.service.impl.ObjectServiceImpl" >
		<property name="objectDao">
			<ref bean="objectDao4"/>
		</property>
		<property name="fileDao">
			<ref bean="fileDao2Full"/>
		</property>
		<property name="fileAccessor">
			<ref bean="fileAccessor2"/>
		</property>
		<property name="relationDao">
			<ref bean="relationDao2"/>
		</property>
		<property name="userDao">
			<ref bean="userDaoLight2"/>
		</property>
		<property name="accessRoleTypeDao">
			<ref bean="accessRoleTypeDao2"/>
		</property>
		<property name="objectTypeDao">
			<ref bean="objectTypeDao2WithoutItems"/>
		</property>
		<property name="membersDao">
			<ref bean="membersDaoLight2"/>
		</property>
		<property name="seriesDao">
			<ref bean="seriesDao2"/>
		</property>
		<property name="namingService">
			<ref bean="namingService2"/>
		</property>
	</bean>

	<!-- objectServiceWithoutAttribute -->
	<bean id="objectServiceWithoutAttribute" parent="objectService2" >
		<property name="objectDao">
			<ref bean="objectDaoWithoutAttribute"/>
		</property>
	</bean>

	<!-- objectTypeServiceLight2 -->
	<bean id="objectTypeServiceLight2" class="jp.co.ctc_g.eim.framework2.business.service.impl.ObjectTypeServiceImpl" >
		<property name="objectTypeDao">
			<ref bean="objectTypeDaoLight2"/>
		</property>
	</bean>

	<!-- objectTypeService2 -->
	<bean id="objectTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.ObjectTypeServiceImpl" >
		<property name="objectTypeDao">
			<ref bean="objectTypeDao2"/>
		</property>
	</bean>

	<!-- objectTypeServiceWithOnlyAttributeTypeList2 -->
	<bean id="objectTypeServiceWithOnlyAttributeTypeList2" parent="objectTypeService2" >
		<property name="objectTypeDao">
			<ref bean="objectTypeDaoWithOnlyAttributeTypeList2"/>
		</property>
	</bean>

	<!-- objectTypeService2WithoutItems -->
	<bean id="objectTypeService2WithoutItems" parent="objectTypeService2" >
		<property name="objectTypeDao">
			<ref bean="objectTypeDao2WithoutItems"/>
		</property>
	</bean>

	<!-- operationHistoryService2 -->
	<bean id="operationHistoryService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.OperationHistoryServiceImpl" >
		<property name="operationHistoryDao">
			<ref bean="operationHistoryDao2"/>
		</property>
	</bean>

	<!-- relationService2 -->
	<bean id="relationService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.RelationServiceImpl" >
		<property name="relationDao">
			<ref bean="relationDao2"/>
		</property>
	</bean>

	<!-- relationTypeServiceLight2 -->
	<bean id="relationTypeServiceLight2" class="jp.co.ctc_g.eim.framework2.business.service.impl.RelationTypeServiceImpl" >
		<property name="relationTypeDao">
			<ref bean="relationTypeDaoLight2"/>
		</property>
	</bean>

	<!-- relationTypeService2 -->
	<bean id="relationTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.RelationTypeServiceImpl" >
		<property name="relationTypeDao">
			<ref bean="relationTypeDao2"/>
		</property>
	</bean>

	<!-- relationTypeServiceWithOnlyAttributeTypeList2 -->
	<bean id="relationTypeServiceWithOnlyAttributeTypeList2" parent="relationTypeService2" >
		<property name="relationTypeDao">
			<ref bean="relationTypeDaoWithOnlyAttributeTypeList2"/>
		</property>
	</bean>

	<!-- roleService2 -->
	<bean id="roleService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.RoleServiceImpl" >
		<property name="roleDao">
			<ref bean="roleDao2"/>
		</property>
	</bean>

	<!-- securityServiceLight2 -->
	<bean id="securityServiceLight2" class="jp.co.ctc_g.eim.framework2.business.service.impl.SecurityServiceImpl" >
		<property name="securityDao">
			<ref bean="securityDaoLight2"/>
		</property>
	</bean>

	<!-- securityService2 -->
	<bean id="securityService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.SecurityServiceImpl" >
		<property name="securityDao">
			<ref bean="securityDao2"/>
		</property>
	</bean>

	<!-- statusService2 -->
	<bean id="statusService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.StatusServiceImpl" >
		<property name="statusDao">
			<ref bean="statusDao2"/>
		</property>
	</bean>

	<!-- statusTypeServiceLight2 -->
	<bean id="statusTypeServiceLight2" class="jp.co.ctc_g.eim.framework2.business.service.impl.StatusTypeServiceImpl" >
		<property name="statusTypeDao">
			<ref bean="statusTypeDaoLight2"/>
		</property>
	</bean>

	<!-- statusTypeService2 -->
	<bean id="statusTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.StatusTypeServiceImpl" >
		<property name="statusTypeDao">
			<ref bean="statusTypeDao2"/>
		</property>
	</bean>

	<!-- systemFunctionService2 -->
	<bean id="systemFunctionService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.SystemFunctionServiceImpl" >
		<property name="systemFunctionDao">
			<ref bean="systemFunctionDao2"/>
		</property>
	</bean>

	<!-- userDefinitionGroupService2 -->
	<bean id="userDefinitionGroupService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.UserDefinitionGroupServiceImpl" >
		<property name="userDefinitionGroupDao">
			<ref bean="userDefinitionGroupDao2"/>
		</property>
	</bean>

	<!-- userService2 -->
	<bean id="userService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.UserServiceImpl"  init-method="init" >
		<!-- 設定例：MD5 -->
		<property name="algorithm">
			<null/>
		</property>
		<property name="userDao">
			<ref bean="userDao2"/>
		</property>
	</bean>

	<!-- workflowConfService2 -->
	<bean id="workflowConfService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.WorkflowConfServiceImpl" >
		<property name="baseEventTypeDao">
			<ref bean="baseEventTypeDao2"/>
		</property>
		<property name="baseStatusTypeDao">
			<ref bean="baseStatusTypeDao2"/>
		</property>
		<property name="guardConditionDao">
			<ref bean="guardConditionDao2"/>
		</property>
	</bean>

	<!-- workflowService2 -->
	<bean id="workflowService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.WorkflowServiceImpl" >
		<property name="workflowDao">
			<ref bean="workflowDao2"/>
		</property>
		<property name="objectDao">
			<ref bean="objectDao2"/>
		</property>
	</bean>

	<!-- guardConditionPlugIn2 -->
	<bean id="guardConditionPlugIn2" class="jp.co.ctc_g.eim.framework2.business.plugin.impl.DefaultGuardConditionPlugInImpl" >
	</bean>

	<!-- baseStatusTypePlugIn2 -->
	<bean id="baseStatusTypePlugIn2" class="jp.co.ctc_g.eim.framework2.business.plugin.impl.DefaultBaseStatusTypePlugInImpl" >
	</bean>

	<!-- baseEventTypePlugIn2 -->
	<bean id="baseEventTypePlugIn2" class="jp.co.ctc_g.eim.framework2.business.plugin.impl.DefaultBaseEventTypePlugInImpl" >
		<property name="objectService">
			<ref bean="objectService2"/>
		</property>
		<property name="accessRoleTypeDao">
			<ref bean="accessRoleTypeDao2"/>
		</property>
	</bean>

	<!-- userDefinitionGroupPlugIn2 -->
	<bean id="userDefinitionGroupPlugIn2" class="jp.co.ctc_g.eim.framework2.business.plugin.impl.AbstractUserDefGroupPlugInImpl" abstract="true">
	</bean>

	<!-- mailElementPlugIn2 -->
	<bean id="mailElementPlugIn2" class="jp.co.ctc_g.eim.framework2.business.plugin.impl.DefaultMailElementPlugInImpl" >
		<property name="key">
			<null/>
		</property>
	</bean>

	<!-- mailMessagePlugIn2 -->
	<bean id="mailMessagePlugIn2" class="jp.co.ctc_g.eim.framework2.business.plugin.impl.DefaultMailMessagePlugInImpl" >
		<property name="mailBodyList">
			<list>
				<ref bean="mailElementPlugIn2"/>
			</list>
		</property>
		<property name="mailTitle">
			<ref bean="mailElementPlugIn2"/>
		</property>
	</bean>

	<!-- mailTypePlugIn2 -->
	<bean id="mailTypePlugIn2" class="jp.co.ctc_g.eim.framework2.business.plugin.impl.DefaultMailTypePlugInImpl" >
		<property name="userDefineEntryToList">
			<null/>
		</property>
		<property name="userDefineEntryCcList">
			<null/>
		</property>
		<property name="userDefineEntryBccList">
			<null/>
		</property>
		<property name="userDao">
			<ref bean="userDaoLight2"/>
		</property>
		<property name="mailMessage">
			<ref bean="mailMessagePlugIn2"/>
		</property>
	</bean>

	<!-- mimeMessagePlugIn2 -->
	<bean id="mimeMessagePlugIn2" class="jp.co.ctc_g.eim.framework2.business.plugin.impl.DefaultMimeMessagePlugInImpl" >
		<!-- メールエンコーディング -->
		<property name="mailEncoding">
			<null/>
		</property>
	</bean>

	<!-- mailSenderService2 -->
	<bean id="mailSenderService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.MailSenderServiceImpl" >
		<property name="mailSender">
			<ref bean="mailSender2"/>
		</property>
	</bean>

	<!-- mailTypeService2 -->
	<bean id="mailTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.MailTypeServiceImpl" >
		<property name="mailTypeDao">
			<ref bean="mailTypeDao2"/>
		</property>
	</bean>

	<!-- mailService2 -->
	<bean id="mailService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.MailServiceImpl" >
		<property name="mailTypeDao">
			<ref bean="mailTypeDao2"/>
		</property>
		<property name="sendType">
			<value>bundle</value>
		</property>
		<property name="mailTitleToSysLang">
			<value>JA</value>
		</property>
		<property name="mailBodyToSysLangList">
			<list>
				<value>JA</value>
			</list>
		</property>
		<property name="mimeMessagePlugIn">
			<ref bean="mimeMessagePlugIn2"/>
		</property>
		<property name="mailSenderService">
			<ref bean="mailSenderService2"/>
		</property>
		<property name="accumulationMailService">
			<ref bean="accumulationMailService2"/>
		</property>
	</bean>

	<!-- fileTransferService2 -->
	<bean id="fileTransferService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.FileTransferServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2"/>
		</property>
		<property name="formatService">
			<ref bean="formatService2"/>
		</property>
		<property name="fileAccessService">
			<ref bean="fileAccessService2"/>
		</property>
		<property name="fileAccessor">
			<ref bean="fileAccessor2"/>
		</property>
		<!-- 設定例：C:\temp -->
		<property name="tempFilePath">
			<value>/tmp</value>
		</property>
	</bean>

	<!-- TempFileObjectService2 -->
	<bean id="tempFileObjectService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.TempFileObjectServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2"/>
		</property>
		<property name="objectTypeService">
			<ref bean="objectTypeService2"/>
		</property>
		<property name="fileAccessService">
			<ref bean="fileAccessService2"/>
		</property>
		<property name="formatService">
			<ref bean="formatService2"/>
		</property>
		<property name="relationTypeService">
			<ref bean="relationTypeService2"/>
		</property>
		<property name="objectTypeName">
			<null/>
		</property>
		<!-- 設定例：NONE -->
		<property name="duplicateCheckModeCreate">
			<null/>
		</property>
		<!-- 設定例：NONE -->
		<property name="duplicateCheckModeUpdate">
			<null/>
		</property>
		<property name="relationTypeName">
			<null/>
		</property>
	</bean>

	<!-- codeTypeService2 -->
	<bean id="codeTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.CodeTypeServiceImpl" >
		<property name="codeTypeDao">
			<ref bean="codeTypeDao2"/>
		</property>
	</bean>

	<!-- codeService2 -->
	<bean id="codeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.CodeServiceImpl" >
		<property name="codeDao">
			<ref bean="codeDao2"/>
		</property>
	</bean>

	<!-- sequenceTypeService2 -->
	<bean id="sequenceTypeService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.SequenceTypeServiceImpl" >
		<property name="sequenceTypeDao">
			<ref bean="sequenceTypeDao2"/>
		</property>
	</bean>

	<!-- sequenceService2 -->
	<bean id="sequenceService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.SequenceServiceImpl" >
		<property name="sequenceDao">
			<ref bean="sequenceDao2"/>
		</property>
	</bean>

	<!-- namingService2 -->
	<bean id="namingService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.NamingServiceImpl" >
		<property name="sequenceService">
			<ref bean="sequenceService2"/>
		</property>
	</bean>

	<!-- webDavService2 -->
	<!--
		ドキュメント管理用のWebDAVServiceはapplicationContext-doc-business.xmlにて定義しており、
		webDAVService2を使用するにはライブラリを追加する必要があるためコメントアウト

	<bean id="webDAVService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.WebDAVServiceImpl" >
		<property name="objectService">
			<ref bean="objectService2"/>
		</property>
		<property name="formatService">
			<ref bean="formatService2"/>
		</property>
		<property name="fileAccessService">
			<ref bean="fileAccessService2"/>
		</property>
		<property name="fileAccessor">
			<ref bean="fileAccessor2"/>
		</property>
	</bean>
	-->

	<!-- textConversionInfoService2 -->
	<bean id="textConversionInfoService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.TextConversionInfoServiceImpl" >
		<property name="textConversionInfoDao">
			<ref bean="textConversionInfoDao2"/>
		</property>
	</bean>

	<!-- tableService2 -->
	<bean id="tableService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.TableServiceImpl">
		<property name="tableDao">
			<ref bean="tableDao2"/>
		</property>
	</bean>

	<!-- dateService2 -->
	<bean id="dateService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.DateServiceImpl">
		<property name="dateDao">
			<ref bean="dateDao2"/>
		</property>
	</bean>

	<!-- キャッシュ関連Job実行制御サービス(トランザクション内) -->
	<bean id="jobControlInTxService" class="jp.co.ctc_g.eim.framework2.business.service.impl.JobControlInTxServiceImpl" >
		<property name="jobControlDao" ref="cacheExclusionDao2" />
	</bean>

	<!-- キャッシュ関連Job実行制御サービス(クラスタ内) -->
	<bean id="jobControlInClusterService" class="jp.co.ctc_g.eim.framework2.business.service.impl.JobControlInClusterServiceImpl" >
		<property name="jobControlDao" ref="cacheExclusionDao2" />
	</bean>

	<!-- LDAP情報連携サービス -->
	<bean id="syncLdapService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.SyncLdapServiceImpl" >
		<property name="userService" ref="userService2" />
		<property name="groupService" ref="groupServiceForSyncLdap" />
		<property name="languageService" ref="languageService2" />
		<property name="ldapDao" ref="ldapDao2" />
		<!-- 設定項目 -->
		<property name="initialPasswordType" value="${SYNC_LDAP_INITIAL_PASSWORD_TYPE}" />
		<property name="fixedInitialPassword" value="${SYNC_LDAP_FIXED_INITIAL_PASSWORD}" />
		<property name="initialMailLang" value="${SYNC_LDAP_INITIAL_MAIL_LANG}" />
		<property name="languageMap">
			<map>
				<entry key="JP" value="JA" />
				<entry key="GB" value="EN" />
				<entry key="US" value="EN" />
			</map>
		</property>
	</bean>

	<!-- LDAP情報連携用groupService -->
	<bean id="groupServiceForSyncLdap" parent="groupService2" >
		<property name="groupDao">
			<ref bean="groupDaoForSyncLdap"/>
		</property>
	</bean>

	<bean id="userService2ForAuthentication" class="jp.co.ctc_g.eim.framework2.business.service.impl.UserServiceImpl" init-method="init" >
		<!-- 設定例：MD5 -->
		<property name="algorithm">
			<null/>
		</property>
		<property name="userDao">
			<ref bean="userDao2ForAuthentication"/>
		</property>
	</bean>

	<!-- パスワードの内容チェックサービス -->
	<bean id="passwordValidateService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.PasswordValidateServiceImpl">
		<!-- プロパティpasswordValidatePluginListは以下で構成。
		<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValueLengthPluginImpl"> 文字数チェック用プラグイン
			<property name="minLength">最小文字数
			<property name="maxLength">最大文字数

		<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValueIncludeNGStringPluginImpl"> 指定した文字列が含まれていないかのチェック用プラグイン
			<property name="userService" ref="userService2ForAuthentication"/>
			<property name="checkIncludeTypeList"> 以下のvalue値を除去するとそのチェック処理を対象外となる
						<list>
							<value>LOGINID</value>  ログインIDが含まれているか
							<value>MAILADDRESS</value> メールアドレスの@より前の文字列が含まれているか
						</list>

		<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValuePatternMustStringPluginImpl"> 指定する文字を含み、パターンを満たしているかチェック用プラグイン。複数このプラグインをbeanで使うことで大文字1文字以上、小文字1文字以上という複数のパターンのチェックが可能
			<property name="checkPattern" value="{チェックするパターンの正規表現}"/>
			<property name="checkPatternKeyName" value="{チェックするパターンの名称}"/> ※注意書きや違反のエラー文言でその名称を含めて表示するために設定

		<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidValueContainsHistricalValuePluginImpl"> 過去パスワードを利用している場合にチェックする文字列が過去パスワードで保持している文字列と合致しないかのチェック用プラグイン。
			<property name="objectTypeService" ref="objectTypeService2"/>
			<property name="userService" ref="userService2ForAuthentication"/>
			<property name="algorithm"> 暗号化アルゴリズムの設定。指定しない場合はアプリデフォルトのアルゴリズムを指定して処理される。
			<property name="attributeTypeName" value="{過去パスワードを保持している属性タイプ名称}"/>
		 -->

		<property name="passwordValidatePluginList">
			<list>
			<!--
				<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValueLengthPluginImpl">
				<property name="minLength">
					<value>1</value>
				</property>
				<property name="maxLength">
					<value>127</value>
				</property>
				</bean>
				<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValueIncludeNGStringPluginImpl">
					<property name="userService" ref="userService2ForAuthentication"/>
					<property name="checkIncludeTypeList">
						<list>
							<value>LOGINID</value>
							<value>MAILADDRESS</value>
						</list>
					</property>
				</bean>
				<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValuePatternMustStringPluginImpl">
					<property name="checkPattern" value="${UPPERCASE_ALPHABET_PATTERN}"/>
					<property name="checkPatternKeyName" value="EIM.LABEL.PASSWORD.UPPERCASE.ALPHABET"/>
				</bean>
				<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValuePatternMustStringPluginImpl">
					<property name="checkPattern" value="${LOWERCASE_ALPHABET_PATTERN}"/>
					<property name="checkPatternKeyName" value="EIM.LABEL.PASSWORD.LOWERCASE.ALPHABET"/>
				</bean>
				<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValuePatternMustStringPluginImpl">
					<property name="checkPattern" value="${DIGHT_PATTERN}"/>
					<property name="checkPatternKeyName" value="EIM.LABEL.PASSWORD.DIGIT"/>
				</bean>
				<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidateValuePatternMustStringPluginImpl">
					<property name="checkPattern" value="${PASSWORD_ALLOWABLE_SPECIAL_CHARPATTERN}"/>
					<property name="checkPatternKeyName" value="EIM.LABEL.PASSWORD.SYMBOL"/>
				</bean>

				<bean class="jp.co.ctc_g.eim.framework2.business.plugin.password.impl.ValidValueContainsHistricalValuePluginImpl">
					<property name="objectTypeService" ref="objectTypeService2"/>
					<property name="userService" ref="userService2ForAuthentication"/>
					<property name="algorithm">
						<null/>
					</property>
					<property name="attributeTypeName" value="${ATTRIBUTE_TYPE_NAME_HISTRICAL_PASSWORD}"/>
				</bean>
			-->
			</list>
		</property>
		<property name="operationHistoryService" ref="operationHistoryService2"/>
		<property name="objectService" ref="objectService2"/>
		<property name="userService" ref="userService2ForAuthentication"/>
	</bean>

	<!-- メンバーズService -->
	<bean id="membersService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.MembersServiceImpl" >
		<property name="membersDao" ref="membersDao2" />
	</bean>

	<!-- メンバーズServiceLight -->
	<bean id="membersServiceLight2" class="jp.co.ctc_g.eim.framework2.business.service.impl.MembersServiceImpl" >
		<property name="membersDao" ref="membersDaoLight2" />
	</bean>

	<!-- メンバーエントリーService -->
	<bean id="memberEntryService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.MemberEntryServiceImpl" >
		<property name="memberEntryDao" ref="memberEntryDao2" />
	</bean>

	<!-- メンバーエントリーService with グループ所属ユーザー -->
	<bean id="memberEntryService2WithUserListRecursive" parent="memberEntryService2" >
		<property name="memberEntryDao" ref="memberEntryDaoLight2WithUserListRecursive" />
	</bean>

	<!-- メンバーロールService -->
	<bean id="memberRoleService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.MemberRoleServiceImpl" >
		<property name="memberRoleDao" ref="memberRoleDao2" />
	</bean>

	<!-- オブジェクトロールService -->
	<bean id="objectRoleService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.ObjectRoleServiceImpl" >
		<property name="objectRoleDao" ref="objectRoleDao2" />
	</bean>

	<!-- シリーズService -->
	<bean id="seriesService2" class="jp.co.ctc_g.eim.framework2.business.service.impl.SeriesServiceImpl" >
		<property name="seriesDao" ref="seriesDao2" />
	</bean>

</beans>
