<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- fileDao2ForAPI（オブジェクト更新時更新者/更新日を更新する） -->
	<bean id="fileDao2ForAPI" parent="fileDao2">
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>DIRECTORY</value>
				<value>FORMAT</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>DIRECTORY</value>
				<value>FORMAT</value>
			</list>
		</property>
		<property name="formatDao">
			<ref bean="formatDao2ForAPI"/>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>true</value>
		</property>
	</bean>

	<!-- fileDao2ForAPI（オブジェクト更新時更新者/更新日を更新しない） -->
	<bean id="fileDao2ForAPINotUpdateModificationInfo" parent="fileDao2">
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>DIRECTORY</value>
				<value>FORMAT</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>DIRECTORY</value>
				<value>FORMAT</value>
			</list>
		</property>
		<property name="formatDao">
			<ref bean="formatDao2ForAPI"/>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>false</value>
		</property>
	</bean>

	<!-- formatDao2ForAPI -->
	<bean id="formatDao2ForAPI" parent="formatDao2">
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>DIRECTORY_LIST</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>DIRECTORY_LIST</value>
			</list>
		</property>
	</bean>

	<!-- オブジェクトAPIDao（オブジェクト更新時更新者/更新日を更新する） -->
	<bean id="objectDao2ForAPI" parent="objectDao2" >
		<!--
			※ 注意

			以下の条件を満たして設定する事。
			ObjectDaoImpl#update()にて属性全削除→登録が行われるため。

			attributeTypeListForSingleTargetMethod == null && itemListForSingleTargetMethod != null

		-->

		<!-- null（全て取得する） -->
		<property name="attributeTypeListForSingleTargetMethod">
			<null/>
		</property>
		<!-- null（全て取得する） -->
		<property name="attributeTypeListForMultiTargetMethod">
			<null/>
		</property>
		<!-- null（全て取得する） -->
		<property name="itemListForSingleTargetMethod">
			<null/>
		</property>
		<!-- null（全て取得する） -->
		<property name="itemListForMultiTargetMethod">
			<null/>
		</property>

		<!-- オブジェクト型属性はそのIDのみ保持する -->
		<property name="refObjectExpansionDisabled" value="true" />

		<!-- create()で返却するObjectDomainのプロパティを取得 -->
		<property name="isLoadProperty">
			<value>true</value>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>true</value>
		</property>
	</bean>

	<!-- オブジェクトAPIDao（オブジェクト更新時更新者/更新日を更新しない） -->
	<bean id="objectDao2ForAPINotUpdateModificationInfo" parent="objectDao2ForAPI" >
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>false</value>
		</property>
	</bean>

	<bean id="relationDao2ForAPI" parent="relationDao2" >
		<!-- null（全て取得する） -->
		<property name="attributeTypeListForSingleTargetMethod">
			<null/>
		</property>
		<!-- null（全て取得する） -->
		<property name="attributeTypeListForMultiTargetMethod">
			<null/>
		</property>
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>TYPE</value>
				<value>PARENT</value>
				<value>CHILD</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>TYPE</value>
				<value>PARENT</value>
				<value>CHILD</value>
			</list>
		</property>
		<property name="objectDao">
			<ref bean="objectDao2ForAPI"/>
		</property>
	</bean>
</beans>

