<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- ============ -->
	<!-- Appender設定 -->
	<!-- ============ -->

	<!-- 標準出力 -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<!-- 出力先-->
		<param name="Target" value="System.out" />
		<!-- 出力レベル -->
		<param name="threshold" value="INFO"/>
		<!-- レイアウト -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS}	%C#%M:%L	%n%p:	%m%n"/>
		</layout>
	</appender>

	<!-- 通常ログファイル出力 -->
	<appender name="DefaultLog" class="org.apache.log4j.RollingFileAppender">
		<!-- 出力先-->
		<param name="File" value="eim.log"/>
		<!-- 最大ファイルサイズ -->
		<param name="MaxFileSize" value="10000000"/>
		<!-- 保管ログの最大数 -->
		<param name="MaxBackupIndex" value="5"/>
		<!-- 追加書き込み (true:追加 | false:上書き) -->
		<param name="Append" value="true"/>
		<!-- 出力レベル -->
		<param name="threshold" value="INFO"/>
		<!-- レイアウト -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS}	%p	%C#%M:%L	%m%n"/>
		</layout>
	</appender>

	<!-- デバッグログファイル出力 -->
	<appender name="DebugLog" class="org.apache.log4j.RollingFileAppender">
		<!-- 出力先-->
		<param name="File" value="eim_debug.log"/>
		<!-- 最大ファイルサイズ -->
		<param name="MaxFileSize" value="10000000"/>
		<!-- 保管ログの最大数 -->
		<param name="MaxBackupIndex" value="5"/>
		<!-- 追加書き込み (true:追加 | false:上書き) -->
		<param name="Append" value="true"/>
		<!-- 出力レベル -->
		<param name="threshold" value="DEBUG"/>
		<!-- レイアウト -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS}	%p	%C#%M:%L	%m%n"/>
		</layout>
	</appender>

	<!-- トレースログファイル出力 -->
	<appender name="TraceLog" class="org.apache.log4j.RollingFileAppender">
		<!-- 出力先-->
		<param name="File" value="eim_trace.log"/>
		<!-- 最大ファイルサイズ -->
		<param name="MaxFileSize" value="10000000"/>
		<!-- 保管ログの最大数 -->
		<param name="MaxBackupIndex" value="5"/>
		<!-- 追加書き込み (true:追加 | false:上書き) -->
		<param name="Append" value="true"/>
		<!-- 出力レベル -->
		<param name="threshold" value="TRACE"/>
		<!-- レイアウト -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS}	%p	%C#%M:%L	%m%n"/>
		</layout>
	</appender>

	<!-- 属性一括更新バッチ用ログ設定 =========================================================================== -->
	<!-- 通常ログファイル出力 -->
	<appender name="importAttributeForCSVBatch_DefaultLog" class="org.apache.log4j.RollingFileAppender">
		<!-- 出力先-->
		<param name="File" value="eim_importAttributeForCSVBatch.log"/>
		<!-- 最大ファイルサイズ -->
		<param name="MaxFileSize" value="10000000"/>
		<!-- 保管ログの最大数 -->
		<param name="MaxBackupIndex" value="5"/>
		<!-- 追加書き込み (true:追加 | false:上書き) -->
		<param name="Append" value="true"/>
		<!-- 出力レベル -->
		<param name="threshold" value="INFO"/>
		<!-- レイアウト -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS}	%p	%C#%M:%L	%m%n"/>
		</layout>
	</appender>

	<!-- デバッグログファイル出力 -->
	<appender name="importAttributeForCSVBatch_DebugLog" class="org.apache.log4j.RollingFileAppender">
		<!-- 出力先-->
		<param name="File" value="eim_importAttributeForCSVBatch_debug.log"/>
		<!-- 最大ファイルサイズ -->
		<param name="MaxFileSize" value="10000000"/>
		<!-- 保管ログの最大数 -->
		<param name="MaxBackupIndex" value="5"/>
		<!-- 追加書き込み (true:追加 | false:上書き) -->
		<param name="Append" value="true"/>
		<!-- 出力レベル -->
		<param name="threshold" value="DEBUG"/>
		<!-- レイアウト -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS}	%p	%C#%M:%L	%m%n"/>
		</layout>
	</appender>

	<!-- ログ出力抑制 -->
	<appender name="Null" class="org.apache.log4j.varia.NullAppender"/>

	<!-- ========== -->
	<!-- Logger設定 -->
	<!-- ========== -->

	<!-- JOTMロガー -->
	<logger name="org.objectweb.jotm">
		<!-- DEBUG以下にするとキャッシュアクセス時の性能が劣化します。 -->
		<level value="INFO" />
	</logger>

	<!-- JGROUPロガー -->
	<logger name="org.jgroups">
		<!-- INFO以下にすると定期的にログが出力され続けます。 -->
		<level value="WARN" />
	</logger>

	<!-- EIMANAGERオブジェクト検索チューニングロガー -->
	<logger name="eim.util.internal.search.Searcher.tuneTrace">
		<level value="INFO"></level>
	</logger>

	<!-- EIMANAGERオブジェクト検索トレースロガー -->
	<logger name="eim.util.internal.search">
		<!-- TRACEにすると出力されます。運用時はINFOに設定して下さい。 -->
		<level value="INFO" />
		<appender-ref ref="TraceLog" />
	</logger>

	<!-- EIMANAGERキャッシュ用デバッグロガー -->
	<logger name="jp.co.ctc_g.eim.framework2.integration.dao.cache.impl">
		<!-- DEBUGにすると出力されます。運用時はINFOに設定して下さい。 -->
		<level value="INFO" />
		<appender-ref ref="DebugLog" />
	</logger>

	<!-- 属性一括更新バッチ -->
	<logger name="batch.migration.ImportAttributeForCSVBatch">
		<level value="info" />
		<appender-ref ref="importAttributeForCSVBatch_DefaultLog"/>
	</logger>

	<!-- ======== -->
	<!-- Root設定 -->
	<!-- ======== -->

	<root>
		<!-- 出力レベル -->
		<level value="INFO"></level>
		<!-- 標準出力と通常ログファイル出力を行う -->
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>