<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/jee
			http://www.springframework.org/schema/jee/spring-jee.xsd">

	<!-- メールサービス実装 -->
	<!-- ======================================================================================== -->
	<bean id="mailService" class="jp.co.ctc_g.eim.framework.business.service.impl.MailServiceImpl">
		<!-- 送信先タイプ 送信先複数メール：split 送信先個別メール：bundle -->
		<property name="sendType">
			<value>split</value>
		</property>
		<!-- システム用メール件名使用言語 -->
		<property name="mailTitleToSysLang">
			<value>JA</value>
		</property>
		<!-- システム用メール本文使用言語 -->
		<property name="mailBodyToSysLangList">
			<list>
<!--
				<value>EN</value>
 -->
				<value>JA</value>
			</list>
		</property>
	</bean>
	<bean id="SERVICE.BUNDLE" class="jp.co.ctc_g.eim.framework.business.service.impl.MailServiceImpl">
		<!-- 送信先タイプ 送信先複数メール：split 送信先個別メール：bundle -->
		<property name="sendType">
			<value>bundle</value>
		</property>
	</bean>

	<!-- Dao定義 -->
	<!-- ======================================================================================== -->
	<bean id="mailAccumulateDao" class="jp.co.ctc_g.eim.framework.integration.dao.impl.MailAccumulateDaoImpl">
		<property name="accumulationMailDao2">
			<ref bean="accumulationMailDaoForFw" />
		</property>
	</bean>

</beans>
