<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- =================================================================================== -->
	<!-- インデックス対象データまたは参照元データ収集バッチ用のApplicationContextファイル    -->
	<!-- =================================================================================== -->

	<!-- アノテーションを有効にする -->
	<context:annotation-config/>

	<!-- コンフィグレーションクラスを読み込み各機能を有効にする -->
	<context:component-scan base-package="jp.co.ctc_g.eim.framework2" use-default-filters="false">
		<!-- MyBatis -->
		<context:include-filter type="assignable" expression="jp.co.ctc_g.eim.framework2.integration.mybatis.MyBatisConfig"/>
	</context:component-scan>

	<!-- ApplicationContextを保持するApplicationContextAware -->
	<bean id="applicationContextLoader" class="jp.co.ctc_g.eim.framework2.common.context.ApplicationContextLoader"/>

	<!-- 各種プロパティ値の取得元となるプロパティファイルのロケーション -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config_doc_search.properties</value>
				<value>classpath:config_search.properties</value>
				<value>classpath:config_doc.properties</value>
 				<value>classpath:config_eim_form.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>

	<!-- ======================================= -->
	<!-- 読み込むApplicationContextファイル      -->
	<!-- ======================================= -->

	<!-- ドキュメント管理(検索)用コンテキストファイル -->
	<import resource="applicationContext-doc-search-indexBase.xml" />
	<import resource="applicationContext-search-indexBase-for-doc.xml" />
	<import resource="applicationContext-search-updateNotice-for-doc.xml" />
	<import resource="applicationContext-fw2-integration-for-doc-search.xml" />

	<!-- 帳票管理用コンテキストファイル -->
	<import resource="applicationContext-form-business.xml" />
	<import resource="applicationContext-form-integration.xml" />
	<import resource="applicationContext-fw2-business-for-form.xml" />
	<import resource="applicationContext-fw2-integration-for-form.xml" />

	<!-- 帳票管理(検索)用コンテキストファイル -->
	<import resource="applicationContext-search-updateNotice-for-formadmin.xml" />

	<!-- EIMANAGER FW2用 コンテキストファイル -->
	<import resource="applicationContext-fw2-business.xml" />
	<import resource="applicationContext-fw2-integration.xml" />
	<import resource="applicationContext-fw2-jobCtrl.xml" /> <!-- Job実行制御 -->

	<!-- EIMANAGER UTIL用コンテキストファイル -->
	<import resource="applicationContext-eim-util.xml" />
	<import resource="applicationContext-fw2-integration-for-util.xml" />

	<!-- EIMANAGER FW APIキャッシュ用コンテキストファイル -->
	<import resource="applicationContext-fw2-business-cache.xml" />
	<import resource="applicationContext-fw2-integration-cache.xml" />
	<import resource="applicationContext-fw2-integration-util.xml" />
	<import resource="applicationContext-fw2-integration-for-cacheService.xml" />

	<!-- 検索FW 標準コンテキストファイル -->
	<import resource="applicationContext-search-indexBase.xml" />
	<import resource="applicationContext-search-searchApi.xml" />
	<import resource="applicationContext-search-updateNotice.xml" />
	<import resource="applicationContext-fw2-business-for-search.xml" />
	<import resource="applicationContext-fw2-integration-for-search.xml" />

	<!-- 検索FW トランザクション管理用コンテキストファイル ※いずれか一つを有効にして下さい。 -->
	<import resource="applicationContext-search-tx-batch.xml" /> <!-- バッチ用 Oracle用 -->
	<!-- <import resource="applicationContext-search-tx-batch-pg.xml" /> バッチ用 PostgreSQL用 -->
	<!-- <import resource="applicationContext-search-tx-web.xml" /> Web用 -->

	<!-- 検索FW Solr用コンテキストファイル -->
	<import resource="applicationContext-search-solr-indexBase.xml" />
	<import resource="applicationContext-search-solr-searchApi.xml" />

	<!-- 検索FW ドキュメント管理用コンテキストファイル -->
	<import resource="applicationContext-search-document.xml" />

	<!-- ============================================== -->
	<!-- 宣言型トランザクション設定 （Job実行制御用）   -->
	<!-- ============================================== -->

	<!-- トランザクションマネージャー （Job実行制御用） -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="lockDataSource" />
	</bean>

</beans>
