<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- ======================= -->
	<!-- インデックス検索Service -->
	<!-- ======================= -->

	<!-- 検索サービス -->
	<bean id="searchService" class="jp.co.ctc_g.eim.search.solr.searchApi.business.service.impl.SolrSearchServiceImpl">
		<property name="objectSearchDao" ref="objectSearchDao" />
		<property name="keywordSearchDao" ref="keywordSearchDao" />
		<property name="pageSearchDao" ref="pageSearchDao" />
		<!-- Solr検索時の結合条件(OR AND IN)の最大数 -->
		<property name="searchConditionsLimit" value="${SOLR_SEARCH_CONDITIONS_LIMIT}" />
		<!-- 取得件数 -->
		<property name="resultRows" value="${DOCUMENT_SEARCH_RESULT_MAX_LIST}" />
		<!-- ソート条件フィールドリスト (リスト格納順に優先) -->
		<property name="sortFieldCriteriaList">
			<list>
				<!-- オブジェクト名 -->
				<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.SortFieldCriteria">
					<!-- フィールド名  -->
					<property name="fieldName" value="OBJECT_NAME" />
					<!-- 順序 -->
					<property name="order" value="ASC" />
				</bean>
				<!-- 履歴 -->
				<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.SortFieldCriteria">
					<!-- フィールド名  -->
					<property name="fieldName" value="REVISION" />
					<!-- 順序 -->
					<property name="order" value="ASC" />
				</bean>
				<!-- シーケンス (ドキュメントが0、リンクが123...) -->
				<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.SortFieldCriteria">
					<!-- フィールド名  -->
					<property name="fieldName" value="SEQ" />
					<!-- 順序 -->
					<property name="order" value="ASC" />
				</bean>
				<!-- パス -->
				<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.SortFieldCriteria">
					<!-- フィールド名  -->
					<property name="fieldName" value="PATH" />
					<!-- 順序 -->
					<property name="order" value="ASC" />
				</bean>
			</list>
		</property>
		<!-- ファセット取得条件フィールドリスト -->
		<property name="facetFieldCriteriaList">
			<list>
				<!-- オブジェクトタイプ名 -->
				<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.FacetFieldCriteria">
					<!-- フィールド名  -->
					<property name="fieldName">
						<list>
							<!-- 日本語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA" />
								<property name="name" value="OBJECTTYPE_JA_NAME" />
							</bean>
							<!-- 英語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN" />
								<property name="name" value="OBJECTTYPE_EN_NAME" />
							</bean>
						</list>
					</property>
					<!-- フィールド表示名 -->
					<property name="displayFieldName">
						<list>
							<!-- 日本語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA" />
								<property name="name" value="タイプ" />
							</bean>
							<!-- 英語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN" />
								<property name="name" value="Type" />
							</bean>
						</list>
					</property>
				</bean>
				<!-- ステータスタイプ名 -->
				<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.FacetFieldCriteria">
					<!-- フィールド名  -->
					<property name="fieldName">
						<list>
							<!-- 日本語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA" />
								<property name="name" value="STATUSTYPE_JA_NAME" />
							</bean>
							<!-- 英語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN" />
								<property name="name" value="STATUSTYPE_EN_NAME" />
							</bean>
						</list>
					</property>
					<!-- フィールド表示名 -->
					<property name="displayFieldName">
						<list>
							<!-- 日本語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA" />
								<property name="name" value="ステータス" />
							</bean>
							<!-- 英語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN" />
								<property name="name" value="Status" />
							</bean>
						</list>
					</property>
				</bean>
				<!-- ファイルサイズ -->
				<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.FacetFieldRangeLongCriteria">
					<!-- フィールド名  -->
					<property name="fieldName">
						<list>
							<!-- 言語共通 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="name" value="FILE_SIZE" />
							</bean>
						</list>
					</property>
					<!-- フィールド表示名 -->
					<property name="displayFieldName">
						<list>
							<!-- 日本語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA" />
								<property name="name" value="ファイルサイズ" />
							</bean>
							<!-- 英語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN" />
								<property name="name" value="File size" />
							</bean>
						</list>
					</property>
					<!-- 開始/終了/間隔 -->
					<property name="start" value="0" />
					<property name="end" value="10000000" />
					<property name="gap" value="1000000" />
					<!-- 範囲外集計モード -->
					<property name="otherSummaryMode" value="after" />
				</bean>
				<!-- 更新日時 -->
				<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.FacetFieldRangeDateCriteria">
					<!-- フィールド名  -->
					<property name="fieldName">
						<list>
							<!-- 言語共通 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="name" value="MODIFY_DATE" />
							</bean>
						</list>
					</property>
					<!-- フィールド表示名 -->
					<property name="displayFieldName">
						<list>
							<!-- 日本語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="JA" />
								<property name="name" value="更新日時" />
							</bean>
							<!-- 英語 -->
							<bean class="jp.co.ctc_g.eim.framework2.business.domain.entity.OtherNameDomain">
								<property name="langId" value="EN" />
								<property name="name" value="Modification date" />
							</bean>
						</list>
					</property>
					<!-- 開始/終了/間隔 (単位:YEARS or MONTHS or DAYS) -->
					<property name="startFromNow" value="-3" />
					<property name="endFromNow" value="0" />
					<property name="rangeUnit" value="MONTHS" />
					<property name="gap" value="1" />
					<property name="gapUnit" value="DAYS" />
					<!-- 範囲外集計モード (before or after or between or none or all) -->
					<property name="otherSummaryMode" value="before" />
				</bean>
			</list>
		</property>
		<!-- ファセット取得最小値条件 -->
		<property name="facetMinCount" value="1" />
		<!-- ファセット取得最大件数 -->
		<property name="facetLimit" value="100" />
		<!-- スニペット取得条件 -->
		<property name="snippetCriteria">
			<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.SnippetCriteria">
				<!-- スニペット取得対象フィールドリスト -->
				<property name="snippetFieldList">
					<list>
						<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.AnalyzedFieldCriteria">
							<property name="fieldName" value="SNIPPET_ATTRS" />
							<property name="valueType" value="ATTRIBUTE" />
						</bean>
						<bean class="jp.co.ctc_g.eim.search.core.searchApi.business.domain.criteria.AnalyzedFieldCriteria">
							<property name="fieldName" value="SNIPPET_FULL_TEXTS" />
							<property name="valueType" value="FULL_TEXT" />
						</bean>
					</list>
				</property>
				<!-- 取得スニペット数 -->
				<property name="snippets" value="3" />
				<!-- スニペット最大文字数 -->
				<property name="snippetSize" value="100" />
				<!-- ハイライトタグ -->
				<property name="tagPre" value="&lt;span style=&#39;background-color:#FFFF00&#39;&gt;" />
				<property name="tagPost" value="&lt;/span&gt;" />
			</bean>
		</property>
		<!-- サジェスト件数 -->
		<property name="suggestLimit" value="10" />
	</bean>

	<!-- =================== -->
	<!-- 検索条件プラグイン  -->
	<!-- =================== -->

	<!-- 権限判定用の検索条件文字列を取得 -->
	<bean id="searchConditionModule" class="jp.co.ctc_g.eim.search.solr.searchApi.business.service.module.impl.SolrSearchConditionModuleImpl">
	</bean>

	<!-- =================== -->
	<!-- インデックス検索Dao -->
	<!-- =================== -->

	<!-- 基底インデックス検索Dao -->
	<bean id="baseSearchDao" class="jp.co.ctc_g.eim.search.solr.searchApi.integration.dao.impl.SolrBaseSearchDaoImpl"
			abstract="true" destroy-method="close">
		<!-- プロトコル -->
		<property name="protocol" value="${SOLR_PROTOCOL}" />
		<!-- ホスト名 -->
		<property name="host" value="${SOLR_HOST}" />
		<!-- ポート番号 -->
		<property name="port" value="${SOLR_PORT}" />
		<!-- サイトコード -->
		<property name="siteCode" value="${SITE_CODE}" />
		<!-- タイムゾーン (これが矛盾すると月単位で日時範囲ファセットを取得した時開始終了がずれる) -->
		<property name="timeZone" value="${SOLR_TIME_ZONE}" />
	</bean>

	<!-- オブジェクト検索Dao -->
	<bean id="objectSearchDao" class="jp.co.ctc_g.eim.search.solr.searchApi.integration.dao.impl.SolrObjectSearchDaoImpl" parent="baseSearchDao">
		<property name="authModule" ref="authModule" />
		<!-- CORE -->
		<property name="core" value="${SOLR_OBJECT_CORE}" />
		<!-- Solr検索時の結合条件(OR AND IN)の最大数 -->
		<property name="searchConditionsLimit" value="${SOLR_SEARCH_CONDITIONS_LIMIT}" />
	</bean>

	<!-- サジェストキーワード検索Dao -->
	<bean id="keywordSearchDao" class="jp.co.ctc_g.eim.search.solr.searchApi.integration.dao.impl.SolrKeywordSearchDaoImpl" parent="baseSearchDao">
		<property name="authModule" ref="authModule" />
		<!-- CORE -->
		<property name="core" value="${SOLR_KEYWORD_CORE}" />
		<!-- 親CORE -->
		<property name="parentCore" value="${SOLR_OBJECT_CORE}" />
	</bean>

	<!-- ページ検索Dao -->
	<bean id="pageSearchDao" class="jp.co.ctc_g.eim.search.solr.searchApi.integration.dao.impl.SolrPageSearchDaoImpl" parent="baseSearchDao">
		<property name="authModule" ref="authModule" />
		<!-- CORE -->
		<property name="core" value="${SOLR_PAGE_CORE}" />
		<!-- 親CORE -->
		<property name="parentCore" value="${SOLR_OBJECT_CORE}" />
	</bean>

</beans>



