<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 宣言型トランザクションAOPのポイントカット設定 -->
	<aop:config>
			<aop:pointcut id="serviceOperation-doc"
				expression="execution(* jp.co.ctc_g.eim.app.document.business.service.*.*(..))" />
			<aop:advisor advice-ref="txAdvice" order="1"
				pointcut-ref="serviceOperation-doc" />
	</aop:config>

	<!-- アクセス権限チェックアドバイス -->
	<bean id="documentAccessAuthorityCheckAdvice" class="jp.co.ctc_g.eim.app.document.common.aop.advice.DocumentAccessAuthorityCheckAdvice" >
		<property name="objectService" ref="objectService2"/>
		<property name="accessErrorCode" value="EIM.ERROR.LOGIC.ACCESSROLE.NOTFOUND"/>
		<property name="notFoundErrorCode" value="EIM.ERROR.LOGIC.OBJECT.NOTFOUND"/>
	</bean>

	<!-- 操作履歴アドバイス -->
	<bean id="documentOperationHistoryAdvice" class="jp.co.ctc_g.eim.app.document.common.aop.advice.DocumentOperationHistoryAdvice" >
		<property name="operationHistoryService" ref="operationHistoryService2"/>
		<property name="objectService" ref="objectService2"/>
	</bean>

	<!-- 操作履歴アドバイス -->
	<bean id="multipleDocumentOperationHistoryAdvice" class="jp.co.ctc_g.eim.app.document.common.aop.advice.MultipleDocumentOperationHistoryAdvice" >
		<property name="operationHistoryService" ref="operationHistoryService2"/>
		<property name="objectService" ref="objectService2"/>
	</bean>

</beans>