<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ========================================================== -->
	<!-- データソース (インデックスデータ生成基盤用) for PostgreSQL -->
	<!-- ========================================================== -->

	<!-- Baseセッション用 for PostgreSQL -->
	<bean id="baseDataSource" primary="true"
					class="org.apache.commons.dbcp.BasicDataSource"
					destroy-method="close">
			<property name="driverClassName" value="${INDEXBASE_CONNECT_DB_DRIVER}" />
			<property name="url" value="jdbc:postgresql://${INDEXBASE_CONNECT_DB_HOST}:${INDEXBASE_CONNECT_DB_PORT}/${INDEXBASE_CONNECT_DB_ID}?currentSchema=${INDEXBASE_CONNECT_DB_SCHEMA}&amp;escapeSyntaxCallMode=call" />
			<property name="username" value="${INDEXBASE_CONNECT_DB_USER}" />
			<property name="password" value="${INDEXBASE_CONNECT_DB_PASS}" />
			<property name="accessToUnderlyingConnectionAllowed" value="true" />
	</bean>

	<!-- Lockコネクション用 for PostgreSQL -->
	<bean id="lockDataSource"
					class="org.apache.commons.dbcp.BasicDataSource"
					destroy-method="close">
			<property name="driverClassName" value="${INDEXBASE_CONNECT_DB_DRIVER}" />
			<property name="url" value="jdbc:postgresql://${INDEXBASE_CONNECT_DB_HOST}:${INDEXBASE_CONNECT_DB_PORT}/${INDEXBASE_CONNECT_DB_ID}?currentSchema=${INDEXBASE_CONNECT_DB_SCHEMA}&amp;escapeSyntaxCallMode=call" />
			<property name="username" value="${INDEXBASE_CONNECT_DB_USER}" />
			<property name="password" value="${INDEXBASE_CONNECT_DB_PASS}" />
			<property name="accessToUnderlyingConnectionAllowed" value="true" />
	</bean>

	<!-- ======================================= -->
	<!-- データソース (検索API用) for PostgreSQL -->
	<!-- ======================================= -->

	<!-- 初期設定はBaseセッション用を共用 -->
	<!-- サイトコードA -->
	<!--
	<bean id="dataSource_SITE_A"
					class="org.apache.commons.dbcp.BasicDataSource"
					destroy-method="close">
			<property name="driverClassName" value="${SITECODE_A_DB_DRIVER}" />
			<property name="url" value="jdbc:postgresql://${SITECODE_A_DB_HOST}:${SITECODE_A_DB_PORT}/${SITECODE_A_DB_ID}?currentSchema=${SITECODE_A_DB_SCHEMA}&amp;escapeSyntaxCallMode=call" />
			<property name="username" value="${SITECODE_A_DB_USER}" />
			<property name="password" value="${SITECODE_A_DB_PASS}" />
			<property name="accessToUnderlyingConnectionAllowed" value="true" />
	</bean>
	-->

	<!-- サイトコードB -->
	<!--
	<bean id="dataSource_SITE_B"
					class="org.apache.commons.dbcp.BasicDataSource"
					destroy-method="close">
			<property name="driverClassName" value="${SITECODE_B_DB_DRIVER}" />
			<property name="url" value="jdbc:postgresql://${SITECODE_B_DB_HOST}:${SITECODE_B_DB_PORT}/${SITECODE_B_DB_ID}?currentSchema=${SITECODE_B_DB_SCHEMA}&amp;escapeSyntaxCallMode=call" />
			<property name="username" value="${SITECODE_B_DB_USER}" />
			<property name="password" value="${SITECODE_B_DB_PASS}" />
			<property name="accessToUnderlyingConnectionAllowed" value="true" />
	</bean>
	-->

	<!-- サイトコードC -->
	<!--
	<bean id="dataSource_SITE_C"
					class="org.apache.commons.dbcp.BasicDataSource"
					destroy-method="close">
			<property name="driverClassName" value="${SITECODE_C_DB_DRIVER}" />
			<property name="url" value="jdbc:postgresql://${SITECODE_C_DB_HOST}:${SITECODE_C_DB_PORT}/${SITECODE_C_DB_ID}?currentSchema=${SITECODE_C_DB_SCHEMA}&amp;escapeSyntaxCallMode=call" />
			<property name="username" value="${SITECODE_C_DB_USER}" />
			<property name="password" value="${SITECODE_C_DB_PASS}" />
			<property name="accessToUnderlyingConnectionAllowed" value="true" />
	</bean>
	-->

	<!-- ================================================================ -->
	<!-- トランザクションマネージャー設定  (インデックスデータ生成基盤用) -->
	<!-- ================================================================ -->

	<!-- トランザクションマネージャー （Baseセッション用）-->
	<bean id="baseTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="baseDataSource" />
	</bean>

	<!-- トランザクションマネージャー （Lockコネクション用）-->
	<bean id="updateNoticeTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="lockDataSource" />
	</bean>

	<!-- ============================================= -->
	<!-- トランザクションマネージャー設定  (検索API用) -->
	<!-- ============================================= -->

	<!-- transactionManager_SITE_A -->
	<bean id="transactionManager_SITE_A" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 初期設定はBaseセッション用を共用 -->
		<property name="dataSource" ref="baseDataSource"/>
	</bean>

	<!-- transactionManager_SITE_B -->
	<!--
	<bean id="transactionManager_SITE_B" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_SITE_B"/>
	</bean>
	-->

	<!-- transactionManager_SITE_C -->
	<!--
	<bean id="transactionManager_SITE_C" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_SITE_C"/>
	</bean>
	-->

</beans>