<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ======================================================================= -->
	<!-- eim.util配下のクラスのBean定義 -->
	<!-- ======================================================================= -->

	<!-- オブジェクトUtil -->
	<bean class="eim.util.ObjectUtils">
		<property name="objectTypeDao" ref="objectTypeDaoForUtil" />
		<property name="objectTypeDaoWithoutSecurity" ref="objectTypeDaoForUtilWithoutSecurity" />
		<property name="statusTypeDao" ref="statusTypeDaoForUtil" />
		<property name="objectDao" ref="objectDaoForUtil" />
		<property name="objectDaoForLock" ref="objectDaoForUtilForLock" />
		<property name="fileDao" ref="fileDaoForUtilWithDirectory" />
		<property name="statusDao" ref="statusDaoLightForUtil" />
		<property name="relationDao" ref="relationDaoForUtil" />
	</bean>

	<!-- 属性Util -->
	<bean class="eim.util.AttributeUtils">
		<property name="attributeTypeDao" ref="attributeTypeAllDaoForUtil" />
	</bean>

	<!-- ユーザUtil -->
	<bean class="eim.util.UserUtils">
		<property name="userDao" ref="userDaoForUtil" />
		<property name="userDaoWithObject" ref="userDaoWithObjectForUtil" />
		<property name="objectDao" ref="objectDaoForUtil" />
	</bean>

	<!-- ファイルUtil -->
	<bean class="eim.util.FileUtils">
		<property name="formatDao" ref="formatDaoForUtil" />
		<property name="formatDaoLight" ref="formatDaoLightForUtil" />
		<property name="fileDao" ref="fileDaoForUtil" />
		<property name="fileDaoWithDirectory" ref="fileDaoForUtilWithDirectory" />
		<property name="directoryDao" ref="directoryDaoForUtil" />
		<property name="objectTypeDao" ref="objectTypeDaoForUtil" />
	</bean>

	<!-- グループUtil -->
	<bean class="eim.util.GroupUtils">
		<property name="groupDao" ref="groupDaoForUtil" />
		<property name="groupDaoWithParent" ref="groupDaoWithParentForUtil" />
		<property name="groupDaoWithFirstParent" ref="groupDaoWithParentForUtilFirst" />
		<property name="groupDaoWithObjectAndParent" ref="groupDaoWithObjectAndParentForUtil" />
		<property name="groupDaoWithObject" ref="groupDaoWithObjectForUtil" />
		<property name="userDao" ref="userDaoForUtil" />
		<property name="userDaoWithObject" ref="userDaoWithObjectForUtil" />
		<property name="objectDao" ref="objectDaoForUtil" />
		<property name="complexDao" ref="complexDaoForUtilNoItems" />
		<property name="assignmentEntryDao" ref="assignmentEntryDaoForUtilNoItems" />
		<property name="accessEntryDao" ref="accessEntryDaoForUtilWithEntry" />
	</bean>

	<!-- オブジェクト属性関連Util -->
	<bean class="eim.util.ObjectAttributeUtils">
		<property name="attributeTypeDao" ref="attributeTypeDaoForUtil" />
		<property name="objectTypeDao" ref="objectTypeDaoLightForUtil" />
		<property name="objectDao" ref="objectDaoForUtil" />
	</bean>

	<!-- ワークフロー関連Util -->
	<bean class="eim.util.WorkFlowUtils">
		<property name="workflowDao" ref="workflowDaoForUtil" />
		<property name="workflowDaoNoItems" ref="workflowDaoLightForUtil" />
		<property name="statusTypeDao" ref="statusTypeDaoForUtil" />
		<property name="statusTypeDaoWithBase" ref="statusTypeDaoLightForUtil" />
		<property name="statusDao" ref="statusDaoForUtil" />
		<property name="objectTypeDao" ref="objectTypeDaoForUtil" />
		<property name="objectDao" ref="objectDaoForUtil" />
		<property name="objectDaoForSetStatus" ref="objectDaoForUtilForSetStatus" />
	</bean>

	<!-- セキュリティ関連Util -->
	<bean class="eim.util.SecurityUtils">
	 	<property name="accessRoleTypeDao" ref="accessRoleTypeDaoForUtil" />
		<property name="accessEntryDao" ref="accessEntryDaoForUtil" />
		<property name="securityDao" ref="securityDaoForUtil" />
		<property name="objectService" ref="objectService2" />
		<property name="objectDao" ref="objectDaoForUtilForSetSecurity" />
	</bean>

	<!-- バージョン関連Util -->
	<bean class="eim.util.VersionUtils">
		<property name="objectDao" ref="objectDaoForUtilForVersionUtils" />
		<property name="objectDaoForLock" ref="objectDaoForUtilForLock" />
		<property name="objectDaoForGetVersion" ref="objectDaoForUtilForGetVersion" />
		<property name="objectDaoWithStatus" ref="objectDaoForUtilForSetStatus" />
		<property name="relationDao" ref="relationDaoForUtil" />
	</bean>

	<!-- リレーションUtil -->
	<bean class="eim.util.RelationUtils">
		<property name="relationDao" ref="relationDaoForUtil" />
		<property name="relationTypeDao" ref="relationTypeDaoForUtil" />
	</bean>

	<!-- リレーション属性関連Util -->
	<bean class="eim.util.RelationAttributeUtils">
		<property name="relationDao" ref="relationDaoForUtil" />
		<property name="relationTypeDao" ref="relationTypeDaoForUtil" />
		<property name="attributeTypeDao" ref="attributeTypeDaoForUtil" />
	</bean>

	<!-- ステータス属性関連Util -->
	<bean class="eim.util.StatusAttributeUtils">
		<property name="statusDao" ref="statusDaoForUtil" />
		<property name="statusTypeDao" ref="statusTypeDaoForUtil" />
		<property name="attributeTypeDao" ref="attributeTypeDaoForUtil" />
	</bean>

	<!-- イベント属性関連Util -->
	<bean class="eim.util.EventAttributeUtils">
		<property name="eventDao" ref="eventDaoForUtil" />
		<property name="eventTypeDao" ref="eventTypeDaoForUtil" />
		<property name="attributeTypeDao" ref="attributeTypeDaoForUtil" />
	</bean>

	<!-- ロール関連Util -->
	<bean class="eim.util.RoleUtils">
		<property name="roleDao" ref="roleDaoForUtil" />
		<property name="roleDaoNoItems" ref="roleDaoForUtilNoItems" />
		<property name="objectDao" ref="objectDaoForUtil" />
		<property name="userDao" ref="userDaoForUtil" />
		<property name="complexDao" ref="complexDaoForUtilNoItems" />
		<property name="assignmentEntryDao" ref="assignmentEntryDaoForUtilNoItems" />
		<property name="accessEntryDao" ref="accessEntryDaoForUtilWithEntry" />
	</bean>

	<!-- 複合グループ関連Util -->
	<bean class="eim.util.CompUtils">
		<property name="complexDao" ref="complexDaoForUtil" />
		<property name="assignmentEntryDao" ref="assignmentEntryDaoForUtilNoItems" />
		<property name="accessEntryDao" ref="accessEntryDaoForUtilWithEntry" />
		<property name="userDao" ref="userDaoForUtil" />
	</bean>

	<!-- アクセス履歴Util -->
	<bean class="eim.util.AccessUtils">
		<property name="accessHistoryDao" ref="accessHistoryDaoForUtil" />
		<property name="objectDao" ref="objectDaoForUtilForGetVersion" />
	</bean>

	<!-- ステータス別セキュリティ関連Util -->
	<bean class="eim.util.StatusSecurityUtils">
		<property name="securityDao" ref="securityDaoForUtilWithStatusType" />
		<property name="accessEntryDao" ref="accessEntryDaoForUtil" />
	</bean>

	<!-- 操作履歴関連Util -->
	<bean class="eim.util.OperationHistoryUtils">
		<property name="operationHistoryDao" ref="operationHistoryDaoForUtil" />
	</bean>

	<!-- テーブル関連Util -->
	<bean class="eim.util.TableUtils">
		<property name="tableDao" ref="tableDaoForUtil" />
	</bean>

	<!-- 日付関連Util -->
	<bean class="eim.util.DateUtils">
		<property name="dateDao" ref="dateDaoForUtil" />
	</bean>
</beans>
