<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/jee
			http://www.springframework.org/schema/jee/spring-jee.xsd">

	<!-- =========================== -->
	<!-- 宣言型トランザクション設定  -->
	<!-- =========================== -->

	<!-- トランザクション境界ポイントカット (コンテンツ検索サービス用) -->
	<aop:config>
		<aop:pointcut id="contentSearchOperation"
				expression="execution(* jp.co.ctc_g.eim.app.document.business.service.search.ContentSearchService.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="contentSearchOperation" />
	</aop:config>

	<!-- ======================== -->
	<!-- 検索サービス             -->
	<!-- ======================== -->

	<!-- コンテンツ検索サービス -->
	<bean id="contentSearchService" class="jp.co.ctc_g.eim.app.document.business.service.search.impl.ContentSearchServiceImpl">
		<property name="searchService" ref="searchService" />
		<property name="attributeTypeService" ref="attributeTypeService2" />
		<!-- 取得件数(本文抜粋表示) -->
		<property name="resultRowsTextExcerpt" value="${DOCUMENT_SEARCH_RESULT_MAX_TEXTEXCERPT}" />
		<!-- 取得件数(リスト表示) -->
		<property name="resultRowsList" value="${DOCUMENT_SEARCH_RESULT_MAX_LIST}" />
		<!-- 取得件数(サムネイル表示) -->
		<property name="resultRowsThumbnail" value="${DOCUMENT_SEARCH_RESULT_MAX_THUMBNAIL}" />
	</bean>

</beans>