<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Dao実装 -->
	<!-- ======================================================================================== -->
	<!-- adminObjectTypeDao -->
	<bean id="adminObjectTypeDao" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.ObjectTypeDaoImpl" >
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>ATTRIBUTE_TYPE_LIST</value>
				<value>PARENT</value>
				<value>CHILD_LIST</value>
				<value>WORKFLOW</value>
				<value>OBJECT_TYPE_FORMAT_LIST</value>
				<value>OBJECT_TYPE_OBJECT</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>WORKFLOW</value>
			</list>
		</property>
		<property name="parentRecursiveLevel">
			<value>0</value>
		</property>
		<property name="childRecursiveLevel">
			<value>0</value>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
		<property name="attributeTypeDao">
			<ref bean="attributeTypeDaoLight2"/>
		</property>
		<property name="formatDao">
			<ref bean="formatDaoLight2"/>
		</property>
		<property name="objectDao">
			<ref bean="objectDaoLight2"/>
		</property>
		<property name="workflowDao">
			<ref bean="workflowDaoLight2"/>
		</property>
		<property name="sequenceDao">
			<ref bean="sequenceDao2"/>
		</property>
	</bean>

	<!-- adminObjectTypeDao2 -->
	<bean id="adminObjectTypeDao2" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.ObjectTypeDaoImpl" >
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>ATTRIBUTE_TYPE_LIST</value>
				<value>PARENT</value>
				<value>CHILD_LIST</value>
				<value>OBJECT_TYPE_FORMAT_LIST</value>
				<value>OBJECT_TYPE_OBJECT</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>PARENT</value>
			</list>
		</property>
		<property name="parentRecursiveLevel">
			<value>0</value>
		</property>
		<property name="childRecursiveLevel">
			<value>2</value>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
		<property name="attributeTypeDao">
			<ref bean="attributeTypeDaoLight2"/>
		</property>
		<property name="formatDao">
			<ref bean="formatDaoLight2"/>
		</property>
		<property name="objectDao">
			<ref bean="adminObjectDao"/>
		</property>
		<property name="workflowDao">
			<ref bean="workflowDaoLight2"/>
		</property>
		<property name="sequenceDao">
			<ref bean="sequenceDao2"/>
		</property>
	</bean>

	<!-- adminObjectDao2 -->
	<bean id="adminObjectDao" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.ObjectDaoImpl" >
		<!-- null（全て取得する） -->
		<property name="attributeTypeListForSingleTargetMethod">
			<null/>
		</property>
		<!-- null（全て取得する） -->
		<property name="attributeTypeListForMultiTargetMethod">
			<null/>
		</property>
		<property name="itemListForSingleTargetMethod">
			<null/>
			<!--<list>
				<value>TYPE</value>
				<value>CREATION_USER</value>
				<value>MODIFICATION_USER</value>
				<value>LOCK_USER</value>
				<value>STATUS</value>
				<value>SECURITY</value>
				<value>REVISION_GROUP_ID</value>
			</list>
		--></property>
		<property name="itemListForMultiTargetMethod">
			<null/>
			<!--<list>
				<value>TYPE</value>
				<value>CREATION_USER</value>
				<value>MODIFICATION_USER</value>
				<value>LOCK_USER</value>
				<value>STATUS</value>
				<value>SECURITY</value>
				<value>REVISION_GROUP_ID</value>
			</list>
		--></property>
		<property name="limit">
			<value>1000</value>
		</property>
		<property name="limitCondition">
			<value>false</value>
		</property>
		<property name="statusDao">
			<ref bean="statusDaoLight2"/>
		</property>
		<property name="attributeLoadingQueryTypeEnum">
			<value>AUTO</value>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
	</bean>
	
	<!-- adminSecurityDao2 -->
	<bean id="adminSecurityDao" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.SecurityDaoImpl" >
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>ACCESS_ENTRY_LIST</value>
				<value>STATUS_SECURITY_LIST</value>
				<value>STATUS_TYPE</value>
				<value>WORKFLOW</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>ACCESS_ENTRY_LIST</value>
				<value>STATUS_SECURITY_LIST</value>
				<value>STATUS_TYPE</value>
			</list>
		</property>
		<property name="workflowDao">
			<ref bean="workflowDaoLight2"/>
		</property>
		<property name="statusTypeDao">
			<ref bean="statusTypeDaoLight2"/>
		</property>
		<property name="accessEntryDao">
			<ref bean="accessEntryDao2"/>
		</property>
	</bean>
	
	<!-- userDaoForAdminUser -->
	<bean id="userDaoForAdminUser" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.UserDaoImpl" >
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>GROUP_LIST</value>
				<value>ROLE_LIST</value>
				<value>USER_OBJECT</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>GROUP_LIST</value>
				<value>ROLE_LIST</value>
				<value>USER_OBJECT</value>
			</list>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
		<!-- limitとlimitConditionは検索実行時に指定する -->
		<property name="groupDao">
			<ref bean="groupDaoLight2"/>
		</property>
		<property name="roleDao">
			<ref bean="roleDaoLight2"/>
		</property>
		<property name="objectDao">
			<ref bean="objectDao2"/>
		</property>
		<property name="mailAddressUnique">
			<value>${USER_MAILADDRESS_UNIQUE}</value>
		</property>
	</bean>
	
	<!-- ユーザ検索用UserDao -->
	<bean id="userDaoForUserSearch" parent="userDaoForAdminUser">
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>GROUP_LIST</value>
				<value>ROLE_LIST</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>GROUP_LIST</value>
				<value>ROLE_LIST</value>
			</list>
		</property>
	</bean>
	
	<!-- ユーザ検索時グループ取得用UserDaoLight2 -->
	<bean id="userDaoLight2ForGroupDaoForUserSearch" parent="userDaoLight2">
		<property name="limit">
			<value>0</value>
		</property>
	</bean>
	
	<!-- ユーザ検索用GroupDao -->
	<bean id="groupDaoForUserSearch" class="jp.co.ctc_g.eim.framework2.integration.dao.impl.GroupDaoImpl" >
		<property name="itemListForSingleTargetMethod">
			<list>
				<value>CHILD_LIST</value>
				<value>USER_LIST</value>
			</list>
		</property>
		<property name="itemListForMultiTargetMethod">
			<list>
				<value>CHILD_LIST</value>
				<value>USER_LIST</value>
			</list>
		</property>
		<property name="parentRecursiveLevel">
			<value>1</value>
		</property>
		<property name="childRecursiveLevel">
			<value>0</value>
		</property>
		<!-- 更新時に更新日時/更新者を更新するか -->
		<property name="updatedModificationInfo">
			<value>${UPDATED_MODIFICATION_INFO_FW2}</value>
		</property>
		<!-- 設定無し -->
		<property name="objectDao">
			<null/>
		</property>
		<property name="userDao">
			<ref bean="userDaoLight2ForGroupDaoForUserSearch"/>
		</property>
	</bean>
	
	<!-- ユーザ検索用GroupDao (下位グループを含まない) -->
	<bean id="groupDaoExcludeChildrenForUserSearch" parent="groupDaoForUserSearch" >
		<property name="childRecursiveLevel">
			<value>1</value>
		</property>
	</bean>
	
	<!-- フォーマット更新用 -->
	<bean id="formatDaoForFormatUpdate" parent="formatDao2" >
		<property name="itemListForSingleTargetMethod">
			<list>
			</list>
		</property>
	</bean>
	
	<!-- キャッシュモニタービューDao -->
	<bean id="cacheMonitorViewDao" class="jp.co.ctc_g.eim.admin.integration.dao.impl.CacheMonitorViewDaoImpl" init-method="init">
		<!-- 設定例：/CacheMonitorConf.xml -->
		<property name="cacheMonitorConfFilePath">
			<null/>
		</property>
	</bean>
	
</beans>
