@charset "utf-8";

/* 一般 */

body {
    overflow:hidden;
    font-family: Verdana, Geneva, sans-serif;
}

.ui-checkbox input, .ui-radio input {
width: 25px;
height: 25px;
top: -7px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a.ui-shadow {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.ui-icon-shadow {
-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4);
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
box-shadow: 0 0px 0 rgba(255,255,255,.4);
}

.ui-btn { 
	height: 50px; 
	border: none !important;
}

a.ui-input-clear { 
	height: 28px !important;
}

.soften_box { 
	border: 1px #888888 solid;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.ui-btn-corner-all {
	-webkit-border-radius: .0em;
	border-radius: .0em;
}

.ui-corner-all {
	-webkit-border-radius: .0em;
	border-radius: .0em;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


/* 承認画面・ポップアップチェックボックス */

#popup_check_div .ui-btn-inner .ui-btn-text {
	left: 0% !important;
	font-size: 100% !important;
	background-color: white !important;
}

#popup_check_div .ui-btn-inner {
	background-color: white !important;
}

#popup_check_div .ui-icon-checkbox-off {
	display: none !important;
}

#popup_check_div .ui-icon-checkbox-on {
	display: none !important;
}

#popup_check_div2 .ui-icon-checkbox-off {
	display: none !important;
}

#popup_check_div2 .ui-icon-checkbox-on {
	display: none !important;
}

#popup_check_div2 {
	height: 400px !important;	
}

#popup_check_div2 .ui-btn-inner .ui-btn-text {
	left: 0% !important;
	font-size: 100% !important;
	background-color: white !important;
}

#popup_check_div2 .ui-btn-inner {
	background-color: white !important;
}


/* ログイン画面 */

#login_scr_View-Login_scr_ID {
	height: 33px !important;
}

#login_scr_View-Login_scr_Password {
	height: 33px !important;
}

#login_scr_View-message_popup-popup {
    width: 60%;
    left: 10%;
    right: 10%;
}


/* マインメニュー画面 */

#main_scr_View-main_scr_logout_popup-popup {
    width: 60%;
    left: 10%;
    right: 10%;
}

#main_scr_View-message_popup-popup {
    width: 60%;
    left: 10%;
    right: 10%;
}


/* ボタンＣＳＳ */

.main_buttons { 
	height: 170px; 
	line-height: 200px; 
	text-align: bottom;
	border-bottom: 'solid 0px black';
	text-decoration: none;
	font-weight: normal;
	font-size: 400%;
	text-shadow: none;
}

.header_buttons { 
	height: 140px !important; 
	line-height: 190px; 
	text-align: bottom;
	font-weight: normal;
	text-decoration: none;
	text-shadow: none;
}

.properties_buttons { 
	height: 91px !important;
	width: 150px !important;
	line-height: 70px !important; 
	font-weight: normal;
	text-shadow: none;
	border-radius: 3px;
   	color: #000000;
   	font-family: Georgia, serif;
   	text-decoration: none;
   	vertical-align: middle;
}

.check_buttons { 
	height: 70px; 
	line-height: 55px; 
	text-align: center;
	border-bottom: 'solid 0px black';
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
	border-radius: 5px !important;
}

.check_buttons_popup { 
	height: 70px;
	width: 210px;
	line-height: 55px; 
	text-align: center;
	border-bottom: 'solid 0px black';
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
	border-radius: 5px !important;
}

.check_scr_View-check_scr_appReqDestination_buttons { 
	line-height: 55px; 
	text-align: center;
	border-bottom: 'solid 0px black';
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
	border-radius: 5px !important;
}

#header-btn_FolderList .ui-btn-inner {
	height: 112px;
}

#header-btn_FolderList .ui-btn-text {
	font-size: 170% !important;
}

#header-btn_Unapproved .ui-btn-inner {
	height: 112px;
}

#header-btn_Unapproved .ui-btn-text {
	font-size: 170% !important;
}

#header-btn_Favorites .ui-btn-inner {
	height: 112px;
}

#header-btn_Favorites .ui-btn-text {
	font-size: 170% !important;
}

.header_navigation_buttons { 
	height: 32px; 	
}

.main_login_button { 
	height: 80px; 
	width: 404px;
	font-weight: normal;
	text-shadow: none;
}

.main_logout_button { 
	height: 80px; 
	font-weight: normal;
	text-shadow: none;
}

.logout_button_confirm {
	width: 200px;
}


/* 属性情報画面 */

#properties_scr_View-properties_scr_info_div {
	background-color: white; 
	overflow: hidden; 
	padding: 0px;	
}

#properties_scr_View-message_popup-popup {
    width: 60%;
    left: 10%;
    right: 10%
}

#check_scr_View-check_scr_info_div {
	background-color: white; 
	overflow: hidden; 
	padding: 0px;	
}


/* ヘッダー */

.header_menuBox {
	position: fixed;
    top: 3px;
    right: 3%;
    height: 50px;
    background: white;
    width: 120px;
    display: none;
    border-style: none;
    border-width: 0px;
    font-size: 75%;
    border-radius: 15px;
}


/* フォルダ一覧画面 */

#folderList_scr_View-folderList_scr_order_combo_td .ui-btn {
	height: 30px !important;
	width: 145px !important;
	border: solid 1px silver !important;
}

#folderList_scr_View-folderList_scr_order_combo_td .ui-icon {
	top: 14px !important;
}

#folderList_scr_View-folderList_scr_order_combo_td .ui-btn-text {
	top: -2px !important;
	left: -14px !important;
	width: 100px;
}

#folderList_scr_View-folderList_scr_order_combo_div {
	height: 80px;
}

.folderList_scr_View-list_scr_top_icon_div {
	position: fixed;
    bottom: 3px;
    right: 3px;
    height: 60px;
    background: none;
    width: 60px;
    border-style: none;
    border-width: 0px;
    font-size: 75%;
    border-radius: 250px;
}

.folderList_scr_View-list_scr_btn_Search { 
	text-shadow: none;
	height: 31px !important;
	border-top: 1px solid #96d1f8;
   	background: #005eff;
   	background: -webkit-gradient(linear, left top, left bottom, from(#005eff), to(#005eff));
   	background: -webkit-linear-gradient(top, #005eff, #005eff);
   	background: -moz-linear-gradient(top, #005eff, #005eff);
   	background: -ms-linear-gradient(top, #005eff, #005eff);
   	background: -o-linear-gradient(top, #005eff, #005eff);
   	border-radius: 3px;
   	color: white;
   	text-decoration: none;
   	vertical-align: middle;
   	top: -4px !important;
   	line-height: 31px !important; 
}

#folderList_scr_View-folderList_scr_search_td .ui-btn-text {
	top: 10px !important;
}

#folderList_scr_View-folderList_scr_search_keyword_form .ui-input-search {
	top: -11px !important;
}

#folderList_scr_View-message_popup-popup {
    width: 60%;
    left: 10%;
    right: 10%
}


/* お気に入り画面 */

.favorites_scr_View-list_scr_top_icon_div {
	position: fixed;
    bottom: 3px;
    right: 3px;
    height: 60px;
    background: none;
    width: 60px;
    border-style: none;
    border-width: 0px;
    font-size: 75%;
    border-radius: 250px;
}

#favorites_scr_View-message_popup-popup {
    width: 60%;
    left: 10%;
    right: 10%
}

/* 未承認画面 */

.unapproved_scr_View-list_scr_top_icon_div {
	position: fixed;
    bottom: 3px;
    right: 3px;
    height: 60px;
    background: none;
    width: 60px;
    border-style: none;
    border-width: 0px;
    font-size: 75%;
    border-radius: 250px;
}

#unapproved_scr_View-message_popup-popup {
    width: 60%;
    left: 10%;
    right: 10%
}

/* 承認画面 */

#check_scr_View-check_scr_btn_Set_div .ui-icon {
	top: -37% !important;
	left: -12% !important;
}

#check_scr_View-check_scr_btn_Set_div .ui-btn-text {
	left: 15% !important;
	font-size: 150%;
}

#popup-select_next_approver .ui-icon {
	top: -40% !important;
	left: -15% !important;
}

#check_scr_View-check_scr_btn_Set_popup .ui-btn-text {
	left: -5% !important;
	font-size: 150%;
}

#check_scr_View-check_scr_btn_Cancel_popup .ui-btn-text {
	left: 15% !important;
	font-size: 150%;
}

#check_scr_View-check_scr_btn_Undo_div .ui-icon {
	top: -37% !important;
	left: -12% !important;
}

#check_scr_View-check_scr_btn_Cancel_div .ui-icon {
	top: -37% !important;
	left: -12% !important;
}

#check_scr_View-check_scr_btn_Undo_div .ui-btn-text {
	left: 15% !important;
	font-size: 150%;
}

#check_scr_View-check_scr_btn_Cancel_div .ui-btn-text {
	left: 15% !important;
	font-size: 150%;
}

#check_scr_View-statusDestinationSelectMenu-button .ui-btn-inner > .ui-icon {
	margin-top : -10px;
	margin-right : -5px;
}

#check_scr_View-check_scr_appReqDestination .ui-btn-text {
	top: -13px !important;
	font-size: 100%;
}

#check_scr_View-check_content_div {
	background: white; 
}

#check_scr_View-message_popup-popup {
    width: 60%;
    left: 10%;
    right: 10%
}


/* 画面の一覧コンポーネント */

.folderList_scr_list_item { 
	background: -webkit-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
	height: 100px;
    width: 100%;
    display: block;
    margin-bottom: 1px;
    -moz-box-shadow: 1px 1px 2px #777;
    -webkit-box-shadow: 1px 1px 2px #777;
    box-shadow: 1px 1px 2px #777;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left : 0px;
    padding-left : 0px;
}

.favorites_scr_list_item { 
	background: -webkit-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
	height: 100px;
    width: 100%;
    display: block;
    margin-bottom: 1px;
    -moz-box-shadow: 1px 1px 2px #777;
    -webkit-box-shadow: 1px 1px 2px #777;
    box-shadow: 1px 1px 2px #777;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left : 0px;
    padding-left : 0px;
}

.unapproved_scr_list_item { 
	background: -webkit-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
	height: 100px;
    width: 100%;
    display: block;
    margin-bottom: 1px;
    -moz-box-shadow: 1px 1px 2px #777;
    -webkit-box-shadow: 1px 1px 2px #777;
    box-shadow: 1px 1px 2px #777;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left : 0px;
    padding-left : 0px;
}


/* パンクず */

#breadcrumbs-one{
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-one li{
  float: left;
}

#breadcrumbs-one a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #ffffff;
  background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a:hover{
  background: #fff;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #ffffff;  
}

#breadcrumbs-one li:last-child a{
  background-color: #bdffff;
}


#breadcrumbs-one li:last-child a::after{
  border-left-color: #bdffff;
}

#breadcrumbs-one a:hover::after{
  border-left-color: #fff;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  content: normal;  
}


/* スクロール */
.scrollable { 
	margin:0px; 
	padding:0px; 
	height:500px; 
	overflow-x:hidden; 
	overflow-y:scroll;
}


/* ボタンのアイコン */

.ui-icon-login_scr_btn_Login {
	background: url(../image/login_scr_btn_Login.png) 100% 100% no-repeat;
	top: 30% !important;
	background-size: 48px 48px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: 48px; 
  	height: 48px; 
}

.ui-icon-main_scr_btn_folderList {
	background: url(../image/main_scr_btn_FolderList.png) 100% 100% no-repeat;
	margin-left: -59px !important;
	background-size: 120px 120px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: 120px; 
  	height: 120px; 
}

.ui-icon-main_scr_btn_Unapproved {
	background: url(../image/main_scr_btn_Unapproved.png) 100% 100% no-repeat;
	margin-left: -55px !important;
	background-position: center center;
	background-size: 120px 120px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: 120px; 
  	height: 120px; 
}

.ui-icon-main_scr_btn_Favorites {
	background: url(../image/main_scr_btn_Favorites.png) 100% 100% no-repeat;
	margin-left: -59px !important;
	background-size: 120px 120px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: 120px; 
  	height: 120px; 
}

.ui-icon-main_scr_btn_Logout {
	background: url(../image/main_scr_btn_Logout.png) 100% 100% no-repeat;
	top: 30% !important;
	background-size: 48px 48px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: 48px; 
  	height: 48px; 
}

.ui-icon-header_btn_Back {
	background: url(../image/header_btn_Back.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 32px 32px;
	border-radius: 0;
	width: 32px !important; 
  	height: 32px !important;
  	left: 30% !important; 
}

.ui-btn-up-a .ui-btn-inner,
.ui-btn-hover-a .ui-btn-inner,
.ui-btn-down-a .ui-btn-inner
{ height: 32px;
  width: 32px; }
  
.ui-icon-properties_scr_btn_Original {
	background: url(../image/properties_scr_btn_Original.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 50% 50% !important;
	border-radius: 0;
	width: 96px !important; 
  	height: 96px !important; 
}

.ui-icon-properties_scr_btn_Public {
	background: url(../image/properties_scr_btn_Public.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 50% 50% !important;
	border-radius: 0;
	width: 96px !important; 
  	height: 96px !important; 
}

.ui-icon-check_scr_btn_Check {
	background: url(../image/check_scr_btn_Check.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 60% 60% !important;
	border-radius: 0;
	width: 48px !important; 
  	height: 48px !important; 
  	top: 1% !important;
}

.properties_scr_View-scr_btn_set_blur {
	background : -webkit-linear-gradient(top, #777777, #999999) !important;
}

#properties_scr_View-properties_scr_btn_Original .ui-icon {
	top : -20% !important;
	left: -40px;
}

#properties_scr_View-properties_scr_btn_Original .ui-btn-text {
	left : 12px !important;
}

#properties_scr_View-properties_scr_btn_Original .ui-btn-inner {
	border: 2px solid #e0f5ff !important;
}

#properties_scr_View-properties_scr_btn_Public .ui-icon {
	top : -20% !important;
	left: -40px;
}

#properties_scr_View-properties_scr_btn_Public .ui-btn-text {
	left : 10px !important;
}

#properties_scr_View-properties_scr_btn_Public .ui-btn-inner {
	outline-width: 10px !important;
	border: 2px solid #fae8d6 !important;
}

.ui-icon-header_btn_Menu {
	background: url(../image/header_btn_Menu.png) 100% 100% no-repeat;
	background-size: 32px 32px;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0;
	width: 32px; 
  	height: 32px; 
}

.ui-icon-check_scr_btn_Set {
	background: url(../image/check_scr_btn_Set.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 50% 50% !important;
	border-radius: 0;
	width: 96px !important; 
  	height: 96px !important; 
}

.ui-icon-check_scr_btn_Set_popup {
	background: url(../image/check_scr_btn_Set.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 50% 50% !important;
	border-radius: 0;
	width: 96px !important; 
  	height: 96px !important; 
}

.ui-icon-check_scr_btn_Undo {
	background: url(../image/check_scr_btn_Undo.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 50% 50% !important;
	border-radius: 0;
	width: 96px !important; 
  	height: 96px !important; 
}

.ui-icon-check_scr_btn_Cancel {
	background: url(../image/check_scr_btn_Cancel.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 50% 50% !important;
	border-radius: 0;
	width: 96px !important; 
  	height: 96px !important; 
}

.ui-icon-check_scr_btn_Cancel_popup {
	background: url(../image/check_scr_btn_Cancel.png) 100% 100% no-repeat;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-size: 50% 50% !important;
	border-radius: 0;
	width: 96px !important; 
  	height: 96px !important; 
}

.combo_container .ui-btn-text{
	display : none !important;
}

.combo_container .ui-select {
	top : 0px !important;
}

.combo_container .ui-btn-inner {
	height : 32px !important;
}

.combo_container .ui-btn-up-c {
	background-image: none !important;
	background-color: #FFFFFF !important;
}

.combo_container .ui-btn {
	box-shadow: none;
}

.list_scr_btn_Properties { 
	height: 80px !important;
	width: 80px !important; 
	line-height: 20px !important; 
	text-align: bottom !important;
	font-weight: bold !important;
	background: none !important;
}

.ui-icon-list_scr_btn_Properties {
	background: url(../image/list_scr_btn_Properties.png) 100% 100% no-repeat;
	margin-left: -25px !important;
	background-size: 48px 48px !important;
	width: 48px !important; 
  	height: 48px !important;
}


